<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card-group">
      <div class="card p-4">
        <div class="card-body">
          <h3>Login</h3>
          <p class="text-muted">Sign In to your account</p>

          <%= form_tag sessions_path do %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <%= text_field_tag :username, params[:username], autocomplete: :off, placeholder: "Email or Phone", class: "form-control" %>
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <%= password_field_tag :password, nil, autocomplete: :off, placeholder: "Password", class: "form-control" %>
            </div>

            <div class="row">
              <div class="col-6">
              	<%= submit_tag "Login", class: "btn btn-primary px-4" %>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-link px-0">Forgot password?</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
        <div class="card-body text-center">
          <div>
            <h2>Sign up</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <%= link_to "Register Now", signin_path, class: "btn btn-primary active mt-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>