<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mx-4">
      <div class="card-body p-4">
        <h2 style="color:#187da0"><strong>Register</strong></h2>
        <p class="text-muted">Create your account</p>

        <%= form_tag register_sessions_path do %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <%= text_field_tag :first_name, nil, autocomplete: :off, placeholder: "First Name", class: "form-control" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <%= text_field_tag :last_name, nil, autocomplete: :off, placeholder: "Last Name", class: "form-control" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-phone"></i></span>
            </div>
            <%= text_field_tag :email, nil, autocomplete: :off, placeholder: "Email", class: "form-control" %>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <%= text_field_tag :phone, nil, autocomplete: :off, placeholder: "Phone Number", class: "form-control" %>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            <%= password_field_tag :password, nil, autocomplete: :off, placeholder: "Password", class: "form-control" %>
          </div>

          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            <%= password_field_tag :password_confirmation, nil, autocomplete: :off, placeholder: "Repeat Password", class: "form-control" %>
          </div>

          <%= submit_tag "Create Account", class: "btn btn-block btn-primary" %>
        <% end %>
      </div>

      <div class="card-footer p-4">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-block btn-facebook" type="button">
              <span>facebook</span>
            </button>
          </div>
          <div class="col-6">
            <button class="btn btn-block btn-twitter" type="button">
              <span>twitter</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>