<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0"><%= @pi.count %></h4>
          <p>Members online</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">
          <canvas id="card-chart1" class="chart" height="70"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <h4 class="mb-0"><%= @auction_request %></h4>
          <p>Request Auction</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">
          <canvas id="card-chart2" class="chart" height="70"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0"><%= @auction_ongoing %></h4>
          <p>On Going Auction</p>
        </div>
        <div class="chart-wrapper" style="height:70px;">
          <canvas id="card-chart3" class="chart" height="70"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0"><%= @auction_finished %></h4>
          <p>Finished Auction</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">
          <canvas id="card-chart4" class="chart" height="70"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <h3 class="card-title clearfix mb-0">Traffic &amp; Sales</h3>
            </div>
            <div class="col-sm-7">
              <button type="button" class="btn btn-outline-primary float-right ml-3"><i class="icon-cloud-download"></i> &nbsp; Download</button>
              <fieldset class="form-group float-right">
                <div class="input-group float-right" style="width:240px;">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input name="daterange" class="form-control date-picker" type="text" />
                </div>
              </fieldset>
            </div>
          </div>
          <hr class="m-0">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <div class="row">
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-info">
                    <small class="text-muted">ALL User</small>
                    <br>
                    <strong class="h4"><%= @pi.count %></strong>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-danger">
                    <small class="text-muted">Verified User</small>
                    <br>
                    <strong class="h4"><%= @pi_verified %></strong>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-2" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-warning">
                    <small class="text-muted">Unverified User</small>
                    <br>
                    <strong class="h4"><%= @pi_unverified %></strong>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-success">
                    <small class="text-muted">Request Auction</small>
                    <br>
                    <strong class="h4"><%= @auction_request %></strong>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="callout">
                    <small class="text-muted">On Goin Auction</small>
                    <br>
                    <strong class="h4"><%= @auction_ongoing %></strong>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-5" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-md-2">
                  <div class="callout callout-primary">
                    <small class="text-muted">Finishied Auction</small>
                    <br>
                    <strong class="h4"><%= @auction_finished %></strong>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-6" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
            </div>
          </div>
          <!--/.row-->
          <br/>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i> User</th>
                <th>Lelang Item</th>
                <th>Description</th>
                <th>Remaining Time</th>
                <th class="text-center">Join Bidder</th>
                <th class="text-center">Log BID</th>
                <th class="text-center">Top BID</th>
                <th class="text-center"><i class="icon-settings"></i></th>
              </tr>
            </thead>
            <tbody>
              <% @auction_running.each do |auction| %>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="<%= session[:avatar] %>" class="img-avatar" alt="admin@bootstrapmaster.com" src="img/avatars/1.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <img src="<%= auction.auction_item.attachment ? auction.auction_item.attachment.first.name(:thumb) : '' %>">
                </td>
                <td>
                  <div><strong><%= auction.auction_item.name %></strong></div>
                  <div class="small text-muted">
                    <span><%= auction.auction_item.condition %></span> | Post at: <%= auction.created_at %>
                  </div>
                  Category  : <%= auction.auction_item.category.name %><br>
                  Bid Raise : Rp <%= auction.price_bid %>

                </td>
                <td>
                  <div>
                    <span id="prefix_clock<%= auction.id %>"></span>
                  </div><br>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong><div id="percent<%= auction.id %>">0%</div></strong>
                    </div>
                    <div class="float-right">
                      <meidum class="text-muted" id="clockdiv<%= auction.id%>"></meidum>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" id="bar<%= auction.id %>"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span class="fa fa-users"></span> <%= auction.auction_user.count %> Bidder
                </td>
                <td class="text-center">
                  <span class="fa fa-legal"></span> <%= auction.log_bid.count %>X Bidding
                </td>
                <td class="text-center">
                  Rp <%= auction.log_bid.first ? auction.log_bid.order(price: :desc).first.price : '-' %>
                </td>
                <td class="text-center">
                  <button class="btn btn-primary btn-sm">Detail</button>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<% content_for :page_scripts do %>
  <script>
    loadCSS("backend/vendors/css/daterangepicker.min.css");
    loadCSS("backend/vendors/css/gauge.min.css");
    loadCSS("backend/vendors/css/toastr.min.css");
    var requireJS = [
      "backend/vendors/js/toastr.min.js",
      "backend/vendors/js/gauge.min.js",
      "backend/vendors/js/moment.min.js",
      "backend/vendors/js/daterangepicker.min.js"
    ];
    loadJS(requireJS, "js/views/main.js");
      $(function () {
        $('.sbid-btn').click(function () {
          <% if session[:user_id] %>
            var auction_id = $(this).data('auction');
            var bidder_id = $(this).data('bidder');
            $.ajax({
              url: '/auctions/bid.json',
              type: 'post',
              data: {
                auction_id : auction_id,
                bidder_id : bidder_id
              },
              success: function (response) {
                console.log(response)
              },
              errors: function(response) {
                console.log(response)
              }
            });
          <% else %>
            window.location.href = '<%= login_path %>';
          <% end %>
      });
    });

    <% @auction_running.each do |auction|%>
      var start_date = '<%= auction.start_date.strftime("%Y-%m-%d %H:%M") %>';
      var end_date = '<%= auction.end_date.strftime("%Y-%m-%d %H:%M") %>';
      var auction_id = '<%= auction.id %>';

      initializeClock('prefix_clock'+auction_id, 'clockdiv'+auction_id, start_date, end_date, auction_id);
    <% end %>

    function getTimeRemaining(endtime){
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor( (t/1000) % 60 );
      var minutes = Math.floor( (t/1000/60) % 60 );
      var hours = Math.floor( (t/(1000*60*60)) % 24 );
      var days = Math.floor( t/(1000*60*60*24) );
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }

    function initializeClock(prefix, id, start_date, end_date, auction_id){
      var clock = document.getElementById(id);

      if(Date.parse(end_date) > Date.parse(new Date())){
        var timeinterval = setInterval(function(){
          if(Date.parse(start_date) > Date.parse(new Date())){
            endtime =  start_date;
            $('#'+prefix).text('Mulai dalam : ');
          }else{
            endtime = end_date;
            $('#'+prefix).text('Berakhir dalam : ');
          }
          var t = getTimeRemaining(endtime);
          clock.innerHTML = t.days + 'D : ' + t.hours + 'H : '+ t.minutes + 'M : ' + t.seconds +' S';
          if(t.total<=0){
            clearInterval(timeinterval);
            location.reload();
          }else{
            sum = Date.parse(end_date) - Date.parse(start_date);
            current = ((sum-t.total)/sum)*100;
            $('#percent'+auction_id).text(current.toFixed(2)+"%");
            $('#bar'+auction_id).css("width",current.toFixed(2)+"%");
          }
        },1000);
      }else{
        $('#'+prefix).text('(Lelang telah berakhir)');
      }
    }
  </script>
<% end %>