<head>
  <title>BidU</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" href="img/favicon.jpeg" type="image/x-icon"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :customcss %>
  <style type="text/css">
    .nav-tabs .nav-link {
      background-color: #F2F1F0;
    }
    a {
      text-decoration: none !important;
      color: #000;
    }
    a:hover{
      color: #080A09;
    }
  </style>
</head>

<% case controller_name %>
<% when "sessions" %>
<body class="app flex-row align-items-center" style="background-color: #F7F7F7;">
  <div class="container">
    <%= yield %>
  </div>
<% else %>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden" style="background-color: #F7F7F7;">
  <%= render(:partial => "partial/user/components/header") %>
  <div class="container-fluid" style="padding: 0px;">
    <%= yield %>
  </div>
  <%= render(:partial => "partial/user/components/footer") %>
<% end %>
 <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript"
            src="https://app.sandbox.midtrans.com/snap/snap.js"
            data-client-key="SB-Mid-client-XdDu61gFDC-DpBSI"></script>
  <script type="text/javascript">
    $(function(){
      <% flash.each do |key, value| %>
        <% if key=='danger' %>
          toastr.error('<%= value %>', 'Warning', {
            closeButton: true,
            progressBar: true,
          });
        <% elsif key=='notice' %>
          toastr.info('<%= value %>', 'Info', {
            closeButton: true,
            progressBar: true,
          });
        <% else %>
          toastr.success('<%= value %>', 'Success', {
            closeButton: true,
            progressBar: true,
          });
        <% end %>
      <% end %>
    });
  </script>
  <%= yield :customjs %>
</body>