<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i> Bid Price Management
      <div class="card-actions">
        <%= link_to raw('<i class="fa fa-plus"></i>'),
                new_be_bid_price_gap_path,
                data: {toggle: 'tooltip'},
                :class => 'btn btn-success pull-right btn-sm',
                :title => 'Buat User Baru' %>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <table class="table table-striped table-bordered datatable">
            <thead>
              <tr>
                <th>Upper limit</th>
                <th>Lower limit</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @bid_price_gaps.each do |bid_price_gap| %>
                <tr>
                  <td><%= bid_price_gap.upper_limit %></td>
                  <td><%= bid_price_gap.lower_limit %></td>
                  <td><%= bid_price_gap.price %></td>
                  <td>
                    <%= link_to raw('<i class="fa fa-edit"></i>'),
                                   edit_be_bid_price_gap_path(bid_price_gap),
                                  data: {toggle: 'tooltip'},
                                  :class => 'btn btn-info',
                                  :title => 'Edit' %>
                    <%= link_to raw('<i class="fa fa-trash-o"></i>'),
                                  be_bid_price_gap_path(bid_price_gap),
                                  method: :delete,
                                  data: {confirm: 'Are you sure?', toggle: 'tooltip' },
                                  :class => 'btn btn-danger',
                                  :title => 'Delete' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-4 col-xs-12">
          <% if flash[:notice].present? %>
            <% flash[:notice].each do |key, value| %>
              <div class="alert alert-<%= key %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <% if value[1].nil? %>
                  <% value.each do |field, res| %>
                    <%= field+" "+res[0] %></br>
                  <% end %>
                <% else %>
                <%= value %></br>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%= form_for ["be", @bid_price_gap], local: true, :class=>"form-horizontal" do |f| %>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="upper_limit">
                <strong><%= f.label 'Upper Limit' %> : </strong>
              </label>
              <div class="col-md-9">
                <%= f.text_field :upper_limit, {:class => 'form-control', :placeholder => 'Name', :autocomplete => 'off'} %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="lower_limit">
                <strong><%= f.label 'Lower Limit' %> : </strong>
              </label>
              <div class="col-md-9">
                <%= f.text_field :lower_limit, {:class => 'form-control', :placeholder => 'Name', :autocomplete => 'off'} %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="price">
                <strong><%= f.label 'Price' %> : </strong>
              </label>
              <div class="col-md-9">
                <%= f.text_field :price, {:class => 'form-control', :placeholder => 'Price', :autocomplete => 'off'} %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-9 offset-md-3">
                <%= f.submit({:class => 'btn btn-primary'}) %>
                <%= f.button("Reset",{:class => 'btn btn-warning', :type => 'reset'}) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
    });
  </script>
<% end %>