<p id="notice"><%= notice %></p>

<p>
  <strong>Upper limit:</strong>
  <%= @bid_price_gap.upper_limit %>
</p>

<p>
  <strong>Lower limit:</strong>
  <%= @bid_price_gap.lower_limit %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bid_price_gap.price %>
</p>

<%= link_to 'Edit', edit_bid_price_gap_path(@bid_price_gap) %> |
<%= link_to 'Back', bid_price_gaps_path %>
