<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= admin_path %>"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-cursor"></i> Master</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="<%= be_categories_path %>"><i class="icon-cursor"></i> Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= be_brands_path %>"><i class="icon-cursor"></i> Brand</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= be_brand_types_path %>"><i class="icon-cursor"></i> Brand Type</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= be_personal_informations_path %>"><i class="icon-cursor"></i> User</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-cursor"></i> Auction</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="<%= be_auction_items_path %>"><i class="icon-cursor"></i> Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= be_auctions_path %>"><i class="icon-cursor"></i> Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= ready_be_auctions_path %>"><i class="icon-cursor"></i> Ready</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= running_be_auctions_path %>"><i class="icon-cursor"></i> Running</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= finished_be_auctions_path %>"><i class="icon-cursor"></i> Finished</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-cursor"></i> Transaction</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="<%= be_transactions_path %>"><i class="icon-cursor"></i> Transaction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= payment_confirmation_be_transactions_path %>"><i class="icon-cursor"></i> Payment</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-settings"></i> Setting</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="<%= be_bid_price_gaps_path %>"><i class="icon-tag"></i> Bid Price</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><i class="icon-drop"></i> Schedule</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>