<div class="container" style="margin-top: 80px;padding: 0px;margin-bottom: 120px">
	<div class="row">
		<div class="col-12">
			<nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <a class="breadcrumb-item" href="#">Auction</a>
        <a class="breadcrumb-item" href="#">Detail</a>
        <span class="breadcrumb-item active">
        	<%= @auction.auction_item.name %>
        </span>
      </nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<!-- Galery & Preview content -->
			<div class="row">
				<div class="col-md-7">
					<div class="slider-for">
						<% @auction.auction_item.attachment.each do |attachment| %>
							<div class="card">
								<div class="card-body" style="width: 100%;height: 400px;background-image: url('<%= attachment.name.url %>');background-size: auto 100%;">
								</div>
							</div>
						<% end %>
					</div>
					<div class="slider-nav" style="margin-top: 20px">
				    <% @auction.auction_item.attachment.each do |attachment| %>
						<div style="width: 100%;height: 95px;background-image: url('<%= attachment.name.url(:thumb) %>');background-size: auto 100%;margin-right: 20px">
						</div>
						<% end %>
				  </div>
				</div>
				<div class="col-md-5" style="color:#4F4F57;padding-top: 10px">
					<div style="font-size: 17px"><span id="prefix_clock"></span><strong><span id="clockdiv" style="color:#20A8D8"></span></strong></div>
					<h3><strong><%= @auction.auction_item.name %></strong></h3>
					<strong>Harga awal :</strong>
					<h4 style="color:#20A8D8">
						<strong>
							Rp <%= @auction.start_price	%>
						</strong>
					</h4><br>
					<strong>Share :</strong>
					<div class="icon-bar" style="margin-top: 10px">

					  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
					  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
					  <a href="#" class="google"><i class="fa fa-google"></i></a>
					  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
					  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
					</div>
					<ul class="list-group" style="margin-top: 15px">
            <li class="list-group-item">
            	<span class="fa fa-users"></span>&nbsp;Bidder : <span class="bidder_count_<%= @auction.id %>"><%= @auction.auction_user.count %></span>
            </li>
            <li class="list-group-item">
            	<span class="fa fa-paperclip"></span>&nbsp;Kategori : <%= @auction.auction_item.category.name %>
            </li>
            <li class="list-group-item">
            	<span class="fa fa-leaf"></span>&nbsp;Kondisi : <%= @auction.auction_item.condition %>
            </li>
            <li class="list-group-item">
            	<span class="fa fa-calendar"></span>&nbsp;Post Date : <%= @auction.created_at %>
            </li>
            <li class="list-group-item">
            	<span class="fa fa-legal"></span>&nbsp;Kelipatan Bid : Rp <%= @auction.price_bid %>
            </li>
          </ul>
          <div style="margin: 10px auto">
          	<% if (@auction.auction_item.user_id != session[:user_id])%>
          	<a href="javascript: void(0)" class="btn btn-primary bid-btn<%= @auction.id %> pull-right <%= (@auction.log_bid.order(price: :asc).last) ? ((@auction.log_bid.order(price: :asc).last.user_id==session[:user_id]) ? 'disabled' : '') : '' %>" id="bid_btn_<%= session[:user_id] %>" data-auction="<%= @auction.id %>" data-bidder="<%= session[:user_id] %>" data-toggle="tooltip" title="Bidding" style="width: 50%">
          		<span class="fa fa-legal"></span>
          		&nbsp;BID
          	</a>
          	<% end %>
          </div>
				</div>
			</div>

			<!-- Deskripsi content -->
			<div class="row">
		    <div class="col">
		      <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
		        <li class="nav-item">
		          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Deskripsi Produk</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Plus/Minus Produk</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Keterangan Lainnya</a>
		        </li>
		      </ul>
		      <div class="tab-content" id="pills-tabContent">
		        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		          <%=raw @auction.auction_item.description %>
		        </div>
		        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
		          <%=raw @auction.auction_item.min_description %>
		        </div>
		        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
		         	<%=raw @auction.auction_item.plus_description %> 
		         </div>
		      </div>
		    </div>
		  </div>

		</div>

		<div class="col-md-3">
			<div class="card">
				<div class="card-header" style="background-color: #20A8D8;opacity: 0.8">
	        <div class="text-center" style="color:#fff;font-size: 20px">
						<strong>
							<span id="label_top_<%= @auction.id %>" class="fa fa-certificate label-top<%= @auction.id %> <%= (@auction.log_bid.order(price: :asc).last) ? ((@auction.log_bid.order(price: :asc).last.user_id==session[:user_id]) ? '' : 'd-none') : 'd-none' %>" style="color: #FFBF00"></span>
							Top Bidder
						</strong>
					</div>
	      </div>
				<div class="card-body text-center" style="color:#4F4F57">
					<h3>
						<strong>Rp 
							<span class="top_bid_<%= @auction.id %>">
								<%= (@auction.log_bid.order(price: :asc).last) ? @auction.log_bid.order(price: :asc).last.price : '-' %>
							</span>
						</strong>
					</h3>
					<p class="date_bid_<%= @auction.id %>">
						at : <%= (@auction.log_bid.order(price: :asc).last) ? @auction.log_bid.order(price: :asc).last.created_at.strftime("%Y-%m-%d %H:%M") : '-' %>
					</p>
				</div>
			</div>

			<div class="card">
				<div class="card-body text-center" style="color:#4F4F57;min-height: 300px">
					<h5>
						<strong>Log Bid</strong>
					</h5><br>
					<div class="scrollable" style="margin-top: 40px;font-size: 12px">
						<div class="log_bid_<%= @auction.id %>"></div>
						<% @auction.log_bid.order(price: :desc).each do |log| %>
							<div>
								<div class="float-left"><i><%= log.created_at.strftime("%Y-%m-%d %H:%M") %></i></div>
								<div class="float-right">Rp <%= log.price %></div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :customjs do %>
  <script>
  	$(function () {
  			$('.bid-btn<%= @auction.id %>').click(function () {
  				<% if session[:user_id] %>
  					var auction_id = $(this).data('auction');
						var bidder_id = $(this).data('bidder');
						$.ajax({
							url: '/auctions/bid.json',
							type: 'post',
							data: {
								auction_id : auction_id,
								bidder_id : bidder_id
							},
			        success: function (response) {
			          console.log(response)
			        },
			        errors: function(response) {
			        	console.log(response)
			        }
						});
  				<% else %>
  					window.location.href = '<%= login_path %>';
  				<% end %>
			});
  	});

  	var start_date = '<%= @auction.start_date.strftime("%Y-%m-%d %H:%M") %>';
  	var end_date = '<%= @auction.end_date.strftime("%Y-%m-%d %H:%M") %>';

  	initializeClock('clockdiv', start_date, end_date);

		$('.slider-for').slick({
		  slidesToShow: 1,
		  slidesToScroll: 1,
		  arrows: false,
		  fade: true,
		  asNavFor: '.slider-nav'
		});
		$('.slider-nav').slick({
			infinite: false,
		  slidesToShow: 4,
		  slidesToScroll: 1,
		  asNavFor: '.slider-for',
		  dots: true,
		  centerMode: false,
		  focusOnSelect: true
		});

		function getTimeRemaining(endtime){
			var t = Date.parse(endtime) - Date.parse(new Date());
		  var seconds = Math.floor( (t/1000) % 60 );
		  var minutes = Math.floor( (t/1000/60) % 60 );
		  var hours = Math.floor( (t/(1000*60*60)) % 24 );
		  var days = Math.floor( t/(1000*60*60*24) );
		  return {
		    'total': t,
		    'days': days,
		    'hours': hours,
		    'minutes': minutes,
		    'seconds': seconds
		  };
		}

		function initializeClock(id, start_date, end_date){
		  var clock = document.getElementById(id);

		  if(Date.parse(end_date) > Date.parse(new Date())){
			  var timeinterval = setInterval(function(){
			  	if(Date.parse(start_date) > Date.parse(new Date())){
		  			endtime =  start_date;
		  			$('#prefix_clock').text('Mulai dalam : ');
		  			$('.bid-btn<%= @auction.id %>').addClass("disabled");
			  	}else{
			  		endtime = end_date;
			  		$('#prefix_clock').text('Berakhir dalam : ');
			  	}
			    var t = getTimeRemaining(endtime);
			    clock.innerHTML = t.days + 'D : ' + t.hours + 'H : '+ t.minutes + 'M : ' + t.seconds+'S';
			    if(t.total<=0){
			      clearInterval(timeinterval);
			      location.reload();
			    }
			  },1000);
		  }else{
		  	$('.bid-btn<%= @auction.id %>').addClass("disabled");
		  	$('#prefix_clock').text('(Lelang telah berakhir)');
		  }
		}
  </script>
<% end %>