<head>
  <meta charset="utf-8">
  <title>BidU - Administrator</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="author" content="pixelcave">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="img/favicon.jpeg">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :customcss %>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <%= render(:partial => "partial/admin/components/header") %>
  <div class="app-body">
    <%= render(:partial => "partial/admin/components/sidebar") %>
    <!-- Main content -->
    <main class="main">
      <%= render(:partial => "partial/admin/components/breadcrumb") %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

    <%= render(:partial => "partial/admin/components/asidebar") %>

  </div>
  <%= render(:partial => "partial/admin/components/footer") %>

  <%= javascript_include_tag 'application' %>
  <%= yield :page_scripts %>
</body>