<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= value %>
	</div>
<% end %>