<%= render "partial/notification" %>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i> Data Transaction
      <div class="card-actions"></div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered datatable">
        <thead>
          <tr>
            <th>#</th>
            <th>NO TRX</th>
            <th>Item Name</th>
            <th>Price</th>
            <th style="width: 30%">Detail</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @transactions.each_with_index do |transaction, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td><%= transaction.trx_no %></td>
              <td><%= transaction.auction.auction_item.name %></td>
              <td>Rp <%= transaction.price %></td>
              <td>
                <span>User      : <%= transaction.user.personal_information.first_name+" "+transaction.user.personal_information.last_name %></span><br>
                <span>Trx Date  : <%= transaction.created_at %></span><br>
                <span>Status    : 
                  <% case transaction.status %>
                  <% when "01" %>
                    Menunggu Pembyaran
                  <% when "02" %>
                    Menunggu Konfirmasi Pembayaran
                  <% when "03" %>
                    Telah dibayar
                  <% when "04" %>
                    Menunggu Konfirmasi Pelelang
                  <% when "05" %>
                    Pengirman Barang
                  <% when "06" %>
                    Barang Sampai
                  <% when "07" %>
                    Dispute
                  <% when "08" %>
                    Selesai
                  <% when "09" %>
                    Dibatalkan
                  <% else %>
                    Unknown
                  <% end %>
                </span>
              </td>
              <td>
                <%= link_to raw('<i class="fa fa-search-plus"></i>'),
                              be_transaction_path(transaction),
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-success',
                              :title => 'Show' %>
                <% if transaction.status=="05" %>
                  <%= link_to raw('<span class="fa fa-reply"></span>'),
                        delivery_set_be_transactions_path(transaction),
                        method: :patch,
                        data: {confirm: 'Barang telah diterima oleh pemenang ?', toggle: 'tooltip' },
                        :class => 'btn btn-primary',
                        :title => 'Set Deilvered' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% content_for :page_scripts do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
    });
  </script>
<% end %>