<%= render "partial/notification" %>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i> Payment Transaction
      <div class="card-actions"></div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered datatable">
        <thead>
          <tr>
            <th>#</th>
            <th>NO TRX</th>
            <th>Item Name</th>
            <th>Price</th>
            <th style="width: 30%">Detail</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @transactions.each_with_index do |transaction, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td><%= transaction.trx_no %></td>
              <td><%= transaction.auction.auction_item.name %></td>
              <td>Rp <%= transaction.price %></td>
              <td>
                <span>User      : <%= transaction.user.personal_information.first_name+" "+transaction.user.personal_information.last_name %></span><br>
                <span>Trx Date  : <%= transaction.created_at %></span><br>
              </td>
              <td>
                <% if transaction.status=="02" %>
                  <button class="btn btn-success" onclick="payment_modal(<%= transaction.id %>)">
                    <i class="fa fa-check"></i>
                  </button>
                <% end %>
                <%= link_to raw('<i class="fa fa-search-plus"></i>'),
                              be_transaction_path(transaction),
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-success',
                              :title => 'Show' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" id="paymentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Approve Payment</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Are you sure to Approve this payment transaction ?
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        <%= form_with url: payment_approve_be_transactions_path, local:true do |form| %>
          <input type="hidden" name="id" id="id">
          <%= form.submit({:class => 'btn btn-success'}) %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
    });
    function payment_modal(id){
      $('#paymentModal').modal('show');
      $('#id').val(id);
    }
  </script>
<% end %>