<a href="" class="btn btn-success pull-right" data-toggle="modal" data-target="#addressModal">
  Tambah
</a>
<table class="table table-responsive-sm datatable">
  <thead>
    <tr>
      <th>Penerima</th>
      <th>Alamat Pengiriman</th>
      <th>Daerah Pengiriman</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% address.each do |temp| %>
      <tr>
        <td><%= temp.receiver %></td>
        <td><%= temp.description %></td>
        <td><%= temp.province+", "+temp.city_type+" "+  temp.city_name %></td>
        <td>
          <a class="btn btn-info" href="#">
            <i class="fa fa-edit "></i>
          </a>
          <a class="btn btn-danger" href="#">
            <i class="fa fa-trash-o "></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal" id="addressModal">
  <div class="modal-dialog" style="margin-top: 100px">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-12 text-center">
            <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Tambah Alamat Baru</h4>
          </div>
        </div>
        <div class="row" style="min-height: 200px;margin-top: 25px">
          <div class="col-10 offset-md-1">
            <%= form_with(model: @address, url: create_address_settings_path, local: true, :class=>"form-horizontal") do |f| %>
              <input type="hidden" name="province_id" id="province_id">
              <input type="hidden" name="is_main" id="is_main" value="t">
              <input type="hidden" name="province" id="province">
              <input type="hidden" name="city_type" id="city_type">
              <input type="hidden" name="city_name" id="city_name">
              <div class="form-group">
                <%= f.label 'Nama  Alamat' %>
                <%= f.text_field :receiver, {:class => 'form-control', :autocomplete => 'off', :value => 'Rumah'} %>
              </div>
              <div class="form-group">
                <%= f.label 'Nama Penerima' %>
                <%= f.text_field :name, {:class => 'form-control', :autocomplete => 'off', :value => @personal_information.first_name+" "+@personal_information.last_name} %>
              </div>
              <div class="row">
                <div class="form-group col-md-8 col-12">
                  <%= f.label 'Kota atau kecematan' %>
                  <%= f.select :city_id, options_from_collection_for_select(@cities, :city_id, :city_name), {}, {:class => 'form-control select2', :style => "width:100%;font-size:12px", :id => 'city'}%>
                </div>
                <div class="form-group col-md-4 col-12">
                  <%= f.label 'Kode POS' %>
                  <%= f.select :postal_code,{}, {}, {:class => 'form-control select2', :id => 'postal_code'} %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label 'Alamat' %>
                <%= f.text_area :description, {:class => 'form-control', :autocomplete => 'off'} %>
              </div>
              <div class="form-group text-center">
                <%= f.submit({:class => 'btn btn-primary'}) %>
                <%= f.button("Reset",{:class => 'btn btn-warning', :type => 'reset'}) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>