	<%= form_with(model: personal_information, url: update_profile_settings_path, local: true, html: { multipart: true }, :class=>"form-horizontal") do |form| %>
<div class="card-body ">
  <div class="col-md-10 col-xs-12 offset-md-1">
    <div class="form-group row <%= notice ? ("has-error" if notice['nik']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          Profile Picture
        </label>
        <div class="col-md-5">
            <%= form.file_field :profile_picture %>
        </div>
        <div class="col-md-5">
          <% if personal_information.profile_picture.present? %>
          <img src="<%= personal_information.profile_picture(:thumb) %>" class="rounded-circle">
          <% end %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['first_name']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :first_name %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :first_name, :class=>"form-control", :placeholder=>:first_name %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['last_name']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :last_name %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :last_name, :class=>"form-control", :placeholder=>:last_name %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['gender']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :gender %>
        </label>
        <div class="col-md-10 col-form-label">
            <label class="radio-inline">
              <%= form.radio_button :gender, 'male', :class=>"" %>
              <%= form.label :gender, 'Pria', :value => 'male' %>
            </label>&emsp;
            <label class="radio-inline">
                <%= form.radio_button :gender, 'female' %>
                <%= form.label :gender, 'Wanita', :value => 'female' %>
            </label>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['birth_place']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :birth_place %>
        </label>
        <div class="col-md-10">
          <%= form.text_field :birth_place, :class=>"form-control", :placeholder=>:birth_place %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['birth_date']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :birth_date %>
        </label>
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </span>
            <%= form.text_field :birth_date, :class=>"form-control", :id=>"date", :placeholder=>:birth_date %>
          </div>
          <small class="text-muted">note: Year-Month-Day</small>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['nik']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          NIK
        </label>
        <div class="col-md-10">
            <%= form.text_field :nik, :class=>"form-control", :placeholder=>'NIK' %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['nik']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          KTP Image
        </label>
        <div class="col-md-5">
            <%= form.file_field :ktp %>
        </div>
        <div class="col-md-5">
        	<% if personal_information.ktp.present? %>
        	<img src="<%= personal_information.ktp(:thumb) %>">
        	<% end %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['phone_number']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :phone_number %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :phone_number, :class=>"form-control", :placeholder=>:phone_number %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['telephone']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :telephone %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :telephone, :class=>"form-control", :placeholder=>:telephone %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['address']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :address %>
        </label>
        <div class="col-md-10">
            <%= form.text_area :address, :class=>"form-control", :placeholder=>:address %>
        </div>
    </div>
  </div>
</div>
<div class="card-footer text-center">
    <button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i> Simpan</button>
</div>
<% end %>