<div class="container" style="margin-top: 80px;padding: 0px;margin-bottom: 120px">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active">
          Settings
        </span>
      </nav>
    </div>
  </div>
	<div class="row">
		<div class="col-12 col-md-3">
      <%= render 'partial/user/components/sidebar' %>
		</div>
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home4" role="tab" aria-controls="home"><i class="icon-calculator"></i> Biodata Diri</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile"><i class="icon-basket-loaded"></i> Daftar Alamat</a>
            </li>
          </ul>

          <div class="tab-content" style="min-height: 450px">
            <div class="tab-pane active" id="home4" role="tabpanel">
              <%= render 'profile_form', personal_information: @personal_information %>
            </div>
            <div class="tab-pane" id="profile4" role="tabpanel">
              <%= render 'address', address: @personal_information.user.user_address %>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<% content_for :customcss do %>
<% end %>

<% content_for :customjs do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
      $('.select2').select2({
          theme: "bootstrap4",
          placeholder: "Pilih data",
          allowClear: true
      });
      $("#city").val('').trigger('change');
      $("#city").change(function(){
        $.ajax({
            url: '/api/service/city?id='+$(this).val(),
            type: "GET",
            success: function (res) {
              if(res.data.postal_code){
                $('#province_id').val(res.data.province_id);
                $('#province').val(res.data.province);
                $('#city_type').val(res.data.type);
                $('#city_name').val(res.data.city_name);
                $('#postal_code').children('option').remove();
                $('#postal_code').append( '<option value="'+res.data.postal_code+'">'+res.data.postal_code+'</option>' );
              }else{
                $("#postal_code").val('').trigger('change');
              }
            }
        });
      });
    });
  </script>
<% end %>