<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand_type.name %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @brand_type.tags %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @brand_type.brand_id %>
</p>

<%= link_to 'Edit', edit_brand_type_path(@brand_type) %> |
<%= link_to 'Back', brand_types_path %>
