<div class="container-fluid" style="background-color: #018AFC">
	<div class="container">
  	<div class="row" style="color: #fff;margin: 50px 0px">
	    <div class="col-12 col-md-2">
	    	<h5><strong>Ayolelang</strong></h5>
	    	<ul style="font-size: 14px;list-style: none;padding-left: 0px">
	    		<li>Tentang Kami</li>
	    		<li>Karir</li>
	    		<li>Blog</li>
	    		<li>Mitra kami</li>
	    	</ul>
	    </div>
	    <div class="col-12 col-md-2">
	    	<h5><strong>Lelang Barang</strong></h5>
	    	<ul style="font-size: 14px;list-style: none;padding-left: 0px">
	    		<li>Cara Melelangkan Barang</li>
	    		<li>Aturan Lelang</li>
	    		<li>Iklan Lelang</li>
	    	</ul>
	    </div>
	    <div class="col-12 col-md-2">
	    	<h5><strong>Ikut Lelang</strong></h5>
	    	<ul style="font-size: 14px;list-style: none;padding-left: 0px">
	    		<li>Cara Mengikuti Lelang</li>
	    		<li>Menjadi Pemenang</li>
	    		<li>Lelang Populer</li>
	    		<li>Daftar Lelang</li>
	    	</ul>
	    </div>
	    <div class="col-12 col-md-2">
	    	<h5><strong>Bantuan</strong></h5>
	    	<ul style="font-size: 14px;list-style: none;padding-left: 0px">
	    		<li>Syarat dan Ketentuan</li>
					<li>Kebijakan Privasi</li>
					<li>Komplain Pelayanan</li>
					<li>Hubungi Kami</li>
					<li>Panduan Keamanan</li>
	    	</ul>
	    </div>
	    <div class="col-12 col-md-4">
	    	<h4><strong>Download Aplikasi</strong></h4><br>
	    	<img src="/img/default/playstore.png" class="img img-responsive">
	    	<img src="/img/default/appstore.png" class="img img-responsive">
	    </div>
	  </div>
	</div>
</div>
<div class="container-fluid" style="background-color: #fff">
  <div class="container">
  	<div class="row">
	    <div class="col-12 col-md-5" style="margin: 20px 0px">
	      <h5 style="color: #4585C5"><strong>AYOLELANG</strong></h5>
	      <span style="color:black;font-size: 13px">&copy;2019-2024 PT Daya Cipta Sempurna</span>
	    </div>
	    <div class="col-12 col-md-7" style="margin: 20px 0px">
	    	<h5 style="color: #4585C5"><strong>Follow Us :</strong></h5>
	      <div class="icon-bar" style="margin-top: 2px">
				  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
				  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
				  <a href="#" class="google"><i class="fa fa-google"></i></a>
				  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
				  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
				</div>
	    </div>
	  </div>
  </div>
</div>