<header class="app-header navbar">
  <div class="container">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>" style="background-image: url('img/logo.png')"></a>
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kategori</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Elektronik</a>
          <a class="dropdown-item" href="#">Handphone & Aksesoris</a>
          <a class="dropdown-item" href="#">Fashion</a>
          <a class="dropdown-item" href="#">Hobi & Mainan</a>
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>
    <button class="btn btn-outline-primary" style="height: 39px">Search</button>
  </form>
  <% if session[:user_id].present? %>
  <!-- <ul class="nav navbar-nav d-md-down-none mr-auto" style="padding-left: 0px;">
    <li class="nav-item px-5">
    </li>
  </ul> -->
  <ul class="nav navbar-nav">
    <li class="nav-item px-3">
      <a class="nav-link" href="<%= dashboards_path %>">
        <span class="fa fa-dashboard" style="color: #F47C48;font-size: 20px"></span>&nbsp;
        <!-- <span style="font-size: 17px">Dashboard</span> -->
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="<%= schedule_path %>">
        <span class="fa fa-calendar" style="color: #F47C48;font-size: 20px"></span>&nbsp;
        <!-- <span style="font-size: 17px">Jadwal Lelang</span> -->
      </a>
    </li>
    <li class="nav-item dropdown d-md-down-none">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="icon-bell"></i><span class="badge badge-pill badge-danger">1</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
        <div class="dropdown-header text-center">
          <strong>You have 1 notification</strong>
        </div>
        <a href="#" class="dropdown-item">
          <div class="message">
            <div class="py-3 mr-3 float-left">
              <div class="avatar">
                <%= image_tag("avatar/1.jpg", class: "card-img-top") %>
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Hot Lelang</small>
              <small class="text-muted float-right mt-1">Just now</small>
            </div>
            <div class="text-truncate font-weight-bold">
              <span class="fa fa-exclamation text-danger"></span> Asus Zenfone m1</div>
            <div class="small text-muted text-truncate">Barang ini telah memilik top bid dengan harga sementara Rp 1.500.000</div>
          </div>
        </a>
        <a href="#" class="dropdown-item text-center">
          <strong>View all notification</strong>
        </a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        &emsp;<%= session[:fullname] %>
        <img src="<%= session[:avatar] %>" class="img-avatar">
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header text-center">
          <strong>Account</strong>
        </div>
        <a class="dropdown-item" href="#"><i class="fa fa-at"></i> <%= current_user.email %> </a>
        <a class="dropdown-item" href="#"><i class="fa fa-phone"></i> <%= current_user.phone %> </a>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Account setting </a>
        <div class="dropdown-header text-center">
          <%= link_to "Log out", logout_path, class: "dropdown-item" %>
        </div>
      </div>
    </li>
  </ul>
  <% else %>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item px-3">
      <a class="nav-link" href="<%= login_path %>">Log In</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="<%= signin_path %>">Register</a>
    </li>
  </ul>
  <% end %>
  </div>
</header>
