<div class="card" style="min-height: 400px">
  <div class="card-body text-center">
    <% if @pa.profile_picture.present? %>
    <img src="<%= @pa.profile_picture(:medium) %>" class="rounded-circle" style="width: 80%" style="width: 80%">
    <% else %>
      <img src="/img/default/user-default.png" class="rounded-circle" style="width: 80%">
    <% end %><br><br>
    <div style="font-size: 18px">
    	<strong><%= @pa.first_name+" "+@pa.last_name %></strong><br>
      ( <%= (@pa.verification_status) ? 'Verified' : 'Unverified'%> )
    </div>
    <div style="font-size: 14px;padding: 25px 15px;">
    	<div class="row">
    		<div class="col-12" style="margin-bottom: 5px;padding-bottom:5px;border-bottom: 1px solid #F57037">
      		<span class="float-left">Wallet</span>
      		<span class="float-right">
      			<strong>Rp. 0,-</strong>
      		</span>
    	</div>
    	</div>
    	<div class="row">
    		<div class="col-12" style="margin-bottom: 5px;padding-bottom:5px;border-bottom: 1px solid #F57037">
      		<span class="float-left">MB-Coin</span>
      		<span class="float-right">
      			<strong>0 Coin</strong>
      		</span>
    	</div>
    	</div>
    	<div class="row">
    		<div class="col-12" style="margin-bottom: 5px;padding-bottom:5px;border-bottom: 1px solid #F57037">
      		<span class="float-left">Point</span>
      		<span class="float-right">
      			<strong>0 Point</strong>
      		</span>
    	</div>
    	</div>
    </div>
    <% if current_page?(settings_path) %>
    <a href="<%= dashboards_path %>" class="btn btn-primary" style="width: 80%;margin-top: 15px">Dashboard
    </a>
    <% else %>
    <a href="<%= settings_path %>" class="btn btn-primary" style="width: 80%;margin-top: 15px">
      <%= (@pa.verification_status) ? 'Edit Profile' : 'Lengkapi Data'%>
    </a>
    <% end %>
    <div style="font-size: 14px;padding: 30px 15px 0px;">
      <div class="row">
        <div class="col-12" style="font-size: 16px">
          <span class="float-left"><strong>Transaksi</strong></span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="<%= payment_all_transactions_path %>" class="float-left" style="color: #018AFC">
          Menunggu Pembayaran
          </a>
        </div>
        <div class="col-12">
          <a href="<%= transactions_path %>" class="float-left" style="color:#018AFC">
          Daftar Transaksi
          </a>
        </div>
      </div>
    </div>
    <div style="font-size: 14px;padding: 25px 15px;">
      <div class="row">
        <div class="col-12" style="font-size: 16px">
          <span class="float-left"><strong>Profile Saya</strong></span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#" class="float-left" style="color: #018AFC">
          Lelang Favorit
          </a>
        </div>
        <div class="col-12">
          <a href="#" class="float-left" style="color:#018AFC">
          Whishlist
          </a>
        </div>
      </div>
    </div>
  </div>
</div>