<%= render "partial/notification" %>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i> User Management
      <div class="card-actions">
        <%= link_to raw('<i class="fa fa-plus"></i>'),
                new_be_personal_information_path,
                data: {toggle: 'tooltip'},
                :class => 'btn btn-success pull-right btn-sm',
                :title => 'Buat User Baru' %>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered datatable">
        <thead>
          <tr>
            <th>#</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th style="width: 30%">Detail</th>
            <th>Picture</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @personal_informations.each_with_index do |personal_information, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td><%= personal_information.first_name+" "+personal_information.last_name %></td>
              <td><%= personal_information.user.email %></td>
              <td><%= personal_information.phone_number %></td>
              <td>
                <span>Gender      : <%= personal_information.gender %></span><br>
                <span>Birth Place : <%= personal_information.birth_place %></span><br>
                <span>Brith Date  : <%= personal_information.birth_date %></span><br>
                <span>Address     : <%= personal_information.address %></span><br>
                <span>Status      : 
                  <% if personal_information.verification_status%>
                    <span style="color: green">Verified</span>
                  <% else %>
                    <span style="color: red">Unverified</span>
                  <% end %>
                </span>
              </td>
              <td>
                <% if personal_information.profile_picture.present? %>
                <img src="<%= personal_information.profile_picture(:thumb) %>">
                <% end %>
              </td>
              <td>
                <% unless personal_information.verification_status %>
                  <button class="btn btn-success" onclick="approve_modal(<%= personal_information.id %>)">
                    <i class="fa fa-check"></i>
                  </button>
                <% end %>
                <%= link_to raw('<i class="fa fa-search-plus"></i>'),
                              be_personal_information_path(personal_information),
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-success',
                              :title => 'Show' %>
                <%= link_to raw('<i class="fa fa-edit"></i>'),
                               edit_be_personal_information_path(personal_information),
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-info',
                              :title => 'Edit' %>
                <%= link_to raw('<i class="fa fa-trash-o"></i>'),
                              be_personal_information_path(personal_information),
                              method: :delete,
                              data: {confirm: 'Are you sure?', toggle: 'tooltip' },
                              :class => 'btn btn-danger',
                              :title => 'Delete' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" id="approveModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Verified User</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure to Verified this user ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        <%= form_with url: verified_be_personal_informations_path, local:true do |form| %>
          <input type="hidden" name="id" id="id">
          <%= form.submit({:class => 'btn btn-success'}) %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
    });
    function approve_modal(id){
      $('#approveModal').modal('show');
      $('#id').val(id);
    }
  </script>
<% end %>