<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @personal_information.user_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @personal_information.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @personal_information.last_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @personal_information.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @personal_information.address %>
</p>

<p>
  <strong>Profile picture:</strong>
  <%= @personal_information.profile_picture %>
</p>

<%= link_to 'Edit', edit_personal_information_path(@personal_information) %> |
<%= link_to 'Back', personal_informations_path %>
