<div class="banner search">
  <div style="background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/94/11/9657e7e8670ef1b.jpg');width: 100%;height: 100%;opacity: 0.4;background-repeat: no-repeat;background-size: 100% 100%;">
  </div>
</div>
<!-- <div class="row" style="margin-top: -260px;justify-content: center;">
  <div class="col-md-6 mb-4">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home2" role="tab" aria-controls="home" style="color:#000"><i class="icon-calculator"></i> Cari Barang</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" style="color:#000"><i class="icon-basket-loaded"></i> Jadwal Lelang</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home2" role="tabpanel">
        <div class="row">
          <div class="col-md-4">
            <fieldset class="form-group">
              <label>Kategori Barang</label>
              <select id="select2-1" class="form-control select2-single">
                <option>Elektronik</option>
                <option>Fashion Pria</option>
                <option>Fashion Wanita</option>
              </select>
            </fieldset>
          </div>
          <div class="col-md-3">
            <fieldset class="form-group">
              <label>Kondisi</label>
              <select id="select2-1" class="form-control select2-single">
                <option>Baru</option>
                <option>Bekas</option>
              </select>
            </fieldset>
          </div>
          <div class="col-md-3">
            <fieldset class="form-group">
              <label>Tahun</label>
              <select id="select2-1" class="form-control select2-single">
                <option>Semua Tahun</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
              </select>
            </fieldset>
          </div>
          <div class="col-md-2">
            <fieldset class="form-group">
              <label>&nbsp;</label>
              <button type="button" class="form-control btn btn-primary"><i class="fa fa-search"></i>&nbsp; Cari</button>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="profile2" role="tabpanel">
        <div class="row">
          <div class="col-md-4">
            <fieldset class="form-group">
              <label>Kategori Barang</label>
              <select id="select2-1" class="form-control select2-single">
                <option>Elektronik</option>
                <option>Fashion Pria</option>
                <option>Fashion Wanita</option>
              </select>
            </fieldset>
          </div>
          <div class="col-md-3">
            <fieldset class="form-group">
              <label>Pilih Kota</label>
              <select id="select2-1" class="form-control select2-single">
                <option>Bandung</option>
                <option>Jakarta</option>
              </select>
            </fieldset>
          </div>
          <div class="col-md-3">
            <fieldset class="form-group">
              <label>Pilih Jadwal</label>
              <select id="select2-1" class="form-control select2-single">
                <option>dd - mm - yyyy</option>
              </select>
            </fieldset>
          </div>
          <div class="col-md-2">
            <fieldset class="form-group">
              <label>&nbsp;</label>
              <button type="button" class="form-control btn btn-primary"><i class="fa fa-search"></i>&nbsp; Cari</button>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div style="padding-top: 40px;margin-bottom: 80px">
  <div class="container">
    <div class="row" style="margin-bottom: 50px;color: #F57037;border-bottom: solid 1px red;">
      <h2><strong>Barang Rekomendasi</strong></h2>
    </div>
    <div class="row" style="justify-content: center;">
      <div class="col-12">
        <div class="responsive">
          <% @auctions.each do |auction| %>
            <div>
              <div class="card" style="margin-right:15px">
                <a href="<%= auction_path(auction) %>">
                <div class="card-body" style="min-height: 415px">
                  <div style="background-image: url('<%= auction.auction_item.attachment.first.name.url(:medium) %>');width: 100%;height: 250px;background-size: auto 100%;"></div>
                  <div style="margin-top:8px;font-size: 18px">
                    <strong>
                      <%=h truncate(auction.auction_item.name, :length => 32) %>
                    </strong>
                  </div>
                  <%=raw truncate(auction.auction_item.description, :length => 70) %>
                </div>
                </a>
                <div class="card-footer">
                  <div class="clearfix">
                    <div class="pull-right">
                      <span class="fa fa-users"></span> 
                      <span class="bidder_count_<%= auction.id %>"><%= auction.auction_user.count %></span> join<br>
                      <% if auction.end_date >= Time.now %>
                      <a href="<%= auction_path(auction) %>" class="btn btn-success" style="background-color: #018AFC">Join</a>
                      <% end %>
                    </div>
                    <div class="pull-left">
                      <span id="prefix_clock<%= auction.id %>">Mulai dalam :</span><br>
                      <strong>
                        <span id="clockdiv<%= auction.id %>">0D : 0H : 0M : 0S</span>
                      </strong><br>
                      Top : Rp 
                      <span class="top_bid_<%= auction.id %>">
                        <%= (auction.log_bid.order(price: :asc).last) ? auction.log_bid.order(price: :asc).last.price : '-' %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 50px;color: #F57037;border-bottom: solid 1px red;">
      <h2><strong>Barang Populer</strong></h2>
    </div>
    <div class="row" style="justify-content: center;">
      <div class="col-12">
        <div class="responsive">
          <% @auctions_popular.each do |auction| %>
            <div>
              <div class="card" style="margin-right:15px">
                <a href="<%= auction_path(auction) %>">
                <div class="card-body" style="min-height: 415px">
                  <div style="background-image: url('<%= auction.auction_item.attachment.first.name.url(:medium) %>');width: 100%;height: 250px;background-size: auto 100%;"></div>
                  <div style="margin-top:8px;font-size: 18px">
                    <strong>
                      <%=raw truncate(auction.auction_item.name, :length => 32) %>
                    </strong>
                  </div>
                  <%=h truncate(auction.auction_item.description, :length => 70) %>
                </div>
                </a>
                <div class="card-footer">
                  <div class="clearfix">
                    <div class="pull-right">
                      <span class="fa fa-users"></span> 
                      <span class="bidder_count_<%= auction.id %>"><%= auction.auction_user.count %></span> join<br>
                      <% if auction.end_date >= Time.now %>
                      <a href="<%= auction_path(auction) %>" class="btn btn-success" style="background-color: #018AFC">Join</a>
                      <% end %>
                    </div>
                    <div class="pull-left">
                      <span id="p_prefix_clock<%= auction.id %>">Mulai dalam :</span><br>
                      <strong>
                        <span id="p_clockdiv<%= auction.id %>">0D : 0H : 0M : 0S</span>
                      </strong><br>
                      Top : Rp 
                      <span class="top_bid_<%= auction.id %>">
                        <%= (auction.log_bid.order(price: :asc).last) ? auction.log_bid.order(price: :asc).last.price : '-' %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :customjs do %>
  <script>
    $('.responsive').slick({
      dots: true,
      infinite: false,
      speed: 300,
      autoplaySpeed: 2500,
      infinite: true,
      autoplay: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    <% @auctions.each do |auction|%>
      var start_date = '<%= auction.start_date.strftime("%Y-%m-%d %H:%M") %>';
      var end_date = '<%= auction.end_date.strftime("%Y-%m-%d %H:%M") %>';
      var auction_id = '<%= auction.id %>';

      initializeClock('prefix_clock'+auction_id, 'clockdiv'+auction_id, start_date, end_date, auction_id);
    <% end %>

    <% @auctions_popular.each do |auction|%>
      var start_date = '<%= auction.start_date.strftime("%Y-%m-%d %H:%M") %>';
      var end_date = '<%= auction.end_date.strftime("%Y-%m-%d %H:%M") %>';
      var auction_id = '<%= auction.id %>';

      initializeClock('p_prefix_clock'+auction_id, 'p_clockdiv'+auction_id, start_date, end_date, auction_id);
    <% end %>

    function getTimeRemaining(endtime){
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor( (t/1000) % 60 );
      var minutes = Math.floor( (t/1000/60) % 60 );
      var hours = Math.floor( (t/(1000*60*60)) % 24 );
      var days = Math.floor( t/(1000*60*60*24) );
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }

    function initializeClock(prefix, id, start_date, end_date, auction_id){
      var clock = document.getElementById(id);

      if(Date.parse(end_date) > Date.parse(new Date())){
        var timeinterval = setInterval(function(){
          if(Date.parse(start_date) > Date.parse(new Date())){
            endtime =  start_date;
            $('#'+prefix).text('Mulai dalam : ');
          }else{
            endtime = end_date;
            $('#'+prefix).text('Berakhir dalam : ');
          }
          var t = getTimeRemaining(endtime);
          clock.innerHTML = t.days + 'D : ' + t.hours + 'H : '+ t.minutes + 'M : ' + t.seconds +' S';
          if(t.total<=0){
            clearInterval(timeinterval);
            location.reload();
          }
        },1000);
      }else{
        $('#'+prefix).text('(Lelang telah berakhir)');
      }
    }
  </script>
<% end %>