<div class="container" style="margin-top: 80px;padding: 0px;margin-bottom: 120px">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active">
          Konfirmasi Pembayaran
        </span>
      </nav>
    </div>
  </div>
	<div class="row">
		<div class="col-12 col-md-3">
			<%= render 'partial/user/components/sidebar' %>
		</div>
    <div class="col-12 col-md-9">
      <div class="card" style="min-height: 400px;padding: 30px 0px">
        <div class="card-body text-center">
          <div class="row">
            <div class="col-12">
              <h3>Batas Waktu Pembayaran</h3>
              <h4  style="color: #018AFC">0D : 3H : 4M : 5S</h4>
            </div>
            <div class="col-12" style="margin-top: 20px">
              <div class="card">
                <div class="card-header" style="background-color: #fff">
                  <div class="float-left">
                    <strong><%= @transaction.auction.auction_item.name %></strong> (<%= @transaction.auction.auction_item.condition %>)
                  </div>
                  <div class="float-right" style="font-size: 18px">
                    <span>Total Rp</span>
                    <strong><span style="color:#20A8D8"><%= @transaction.price %></span></strong>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-3">
                      <div style="background-image: url('<%= @transaction.auction.auction_item.attachment.first.name %>');width: 100%;height: 140px;background-size: auto 100%">
                      </div>
                    </div>
                    <div class="col-9 text-left">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <span class="fa fa-users"></span>&nbsp;Bidder : <span class="bidder_count">
                            <%= @transaction.trx_no %>
                          </span>
                        </li>
                        <li class="list-group-item">
                          <span class="fa fa-calendar"></span>&nbsp;Trx Date : <%= @transaction.trx_date %>
                        </li>
                        <li class="list-group-item">
                          <span class="fa fa-legal"></span>&nbsp;Due Date : Rp <%= @transaction.due_date %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <a href="<%= auction_path(@transaction.auction_id) %>" target="_blank" class="btn btn-success float-right" style="margin-right: 5px;">
                    <span class="fa fa-eye"></span>
                    Detail
                  </a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-7 text-left" style="margin-top: 20px;padding-top: 20px">
              <div style="border-bottom: solid 1px #018AFC;margin-bottom: 10px">
                <strong>Alamat pengiriman</strong>
              </div> 
              <div>
                <strong><%= @pa.first_name+" "+@pa.last_name %></strong><br>
                <%= @pa.phone_number %><br>
                <%= @pa.address %>
              </div>
              <div style="border-top: solid 1px #018AFC;margin-bottom: 10px;padding-top: 5px">
                <a href="#" class="btn btn-primary float-right">Pilih alamat lain</a>
              </div>

              <div style="border-bottom: solid 1px #018AFC;margin-bottom: 10px;margin-top: 50px">
                <strong>Metode Pengiriman</strong>
              </div> 
              <div class="form-group row" style="padding-right: 15px">
                <label class="col-4" style="margin-top: 7px"><strong>Durasi</strong></label>
                <select name="" class="form-control col-8">
                  <option>3 Hari</option>
                </select>
              </div>
              <div class="form-group row" style="padding-right: 15px">
                <label class="col-4"><strong>Kurir Pilihan</strong></label>
                <div class="col-8" style="padding-left: 0px">
                  <div>
                    JNE Reg (9000) <span style="color: #018AFC">Ubah Kurir<span>
                  </div>
                  <div style="padding-left: 20px;color:#000;margin-top: 5px">
                    <input type="checkbox" class="form-check-input" value="">Asuransi Pengiriman
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-5 text-left" style="margin-top: 20px">
              <div class="card">
                <div class="card-body">
                  <div style="border-bottom: solid 1px #018AFC;margin-bottom: 10px">
                    <strong>Ringkasan Transaksi</strong>
                  </div> 
                  <div class="row">
                    <div class="col-12" style="padding-bottom: 5px;margin-top: 5px">
                      <div class="float-left">
                        Total Harga
                      </div>
                      <div class="float-right">
                        Rp <%= @transaction.price %>
                      </div>
                    </div>
                    <div class="col-12" style="padding-bottom: 5px">
                      <div class="float-left">
                        Ongkos Kirim
                      </div>
                      <div class="float-right">
                        Rp 9000
                      </div>
                    </div>
                    <div class="col-12" style="padding-bottom: 5px">
                      <div class="float-left">
                        Asusransi Pengiriman
                      </div>
                      <div class="float-right">
                        Rp 0
                      </div>
                    </div>
                  </div>
                  <div style="border-bottom: solid 1px #018AFC;border-top: solid 1px #018AFC;margin-bottom: 10px;padding:10px 0px;margin:10px 0px">
                    <div class="row">
                      <div class="col-12">
                        <div class="float-left">
                          Total Tagihan
                        </div>
                        <div class="float-right">
                          Rp <%= (@transaction.price.to_i+9000) %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-top: 30px">
                    <a href="" class="btn btn-success" style="width: 100%">Bayar</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<% content_for :customjs do %>
<% end %>