<div class="container" style="margin-top: 80px;padding: 0px;margin-bottom: 120px">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active">
          Konfirmasi Pembayaran
        </span>
      </nav>
    </div>
  </div>
	<div class="row">
		<div class="col-12 col-md-3">
			<%= render 'partial/user/components/sidebar' %>
		</div>
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home4" role="tab" aria-controls="home"><i class="icon-calculator"></i> Konfirmasi Pembayaran &nbsp;<span class="badge badge-pill badge-success"><%= @pa.user.auction_user.count %></span></a>
            </li>
          </ul>
          <div class="tab-content" style="min-height: 450px">
            <div class="tab-pane active" id="home4" role="tabpanel">
              <% if @transactions.count==0 %>
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Tidak ada data transaksi ditemukan!</strong> Mulai lelang anda segera.
              </div>
              <% end %>

              <% @transactions.each do |item|%>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header" style="background-color: #fff">
                        <div class="float-left">
                          <strong><%= item.auction.auction_item.name %></strong> (<%= item.auction.auction_item.condition %>)
                        </div>
                        <div class="float-right" style="font-size: 18px">
                          <span>Rp</span>
                          <strong><span style="color:#20A8D8"><%= item.price %></span></strong>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-3">
                            <div style="background-image: url('<%= item.auction.auction_item.attachment.first.name %>');width: 100%;height: 140px;background-size: auto 100%">
                            </div>
                          </div>
                          <div class="col-9">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <span class="fa fa-users"></span>&nbsp;Bidder : <span class="bidder_count">
                                  <%= item.trx_no %>
                                </span>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-calendar"></span>&nbsp;Trx Date : <%= item.trx_date %>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-legal"></span>&nbsp;Due Date : Rp <%= item.due_date %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="icon-bar float-left" style="margin-top: 6px;font-size: 17px">
                          <span>Total Rp</span>
                          <strong><span style="color:#20A8D8"><%= item.price %></span></strong>
                        </div>
                        <a href="<%= payment_confirmation_detail_homes_path(item.trx_no) %>" class="btn btn-primary float-right">
                          <span class="fa fa-credit-card"></span>
                          Bayar
                        </a>
                        <a href="<%= auction_path(item.auction) %>" target="_blank" class="btn btn-success float-right" style="margin-right: 5px;">
                          <span class="fa fa-eye"></span>
                          Detail
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<% content_for :customjs do %>
<% end %>