<div class="container" style="padding-top: 100px;margin-bottom: 100px">
	<div class="animated fadeIn">
	  <div class="card">
	    <div class="card-header">
	      <i class="icon-calendar"></i> Jadwal Lelang
	      <div class="card-actions">
	        <a href="http://angular-ui.github.io/ui-calendar/">
	          <small class="text-muted">docs</small>
	        </a>
	      </div>
	    </div>
	    <div class="card-body">
	      <div id="calendar"></div>
	    </div>
	  </div>
	</div>
</div>

<% content_for :customcss do %>
	<link rel="stylesheet" href="vendors/css/fullcalendar.min.css">
<% end %>

<% content_for :customjs do %>
	<script src="vendors/js/moment.min.js"></script>
	<script src="vendors/js/fullcalendar.min.js"></script>
	<script src="vendors/js/moment.min.js"></script>

	<script type="text/javascript">
		$(function(){

		  $('#calendar').fullCalendar({
		    header: {
		      left: 'prev,next today',
		      center: 'title',
		      right: 'month,basicWeek,basicDay'
		    },
		    defaultDate: '2019-05-12',
		    editable: true,
		    eventLimit: true, // allow "more" link when too many events
		    events: [
		      {
		        title: 'All Day Event',
		        start: '2019-05-01'
		      },
		      {
		        title: 'Long Event',
		        start: '2019-05-07',
		        end: '2019-05-10'
		      },
		      {
		        id: 999,
		        title: 'Repeating Event',
		        start: '2019-05-09T16:00:00'
		      },
		      {
		        id: 999,
		        title: 'Repeating Event',
		        start: '2019-05-16T16:00:00'
		      },
		      {
		        title: 'Conference',
		        start: '2019-05-11',
		        end: '2019-05-13'
		      },
		      {
		        title: 'Meeting',
		        start: '2019-05-12T10:30:00',
		        end: '2019-05-12T12:30:00'
		      },
		      {
		        title: 'Lunch',
		        start: '2019-05-12T12:00:00'
		      },
		      {
		        title: 'Meeting',
		        start: '2019-05-12T14:30:00'
		      },
		      {
		        title: 'Happy Hour',
		        start: '2019-05-12T17:30:00'
		      },
		      {
		        title: 'Dinner',
		        start: '2019-05-12T20:00:00'
		      },
		      {
		        title: 'Birthday Party',
		        start: '2019-05-13T07:00:00'
		      },
		      {
		        title: 'Click for Google',
		        url: 'http://google.com/',
		        start: '2019-05-28'
		      }
		    ]
		  });
		});
	</script>
<% end %>