<div class="container" style="margin-top: 80px;padding: 0px;margin-bottom: 120px">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active">
          Dashboard
        </span>
      </nav>
    </div>
  </div>
	<div class="row">
		<div class="col-12 col-md-3">
			<div class="card" style="min-height: 400px">
        <div class="card-body text-center">
          <% if @pa.profile_picture.present? %>
          <img src="<%= @pa.profile_picture(:medium) %>" class="rounded-circle" style="width: 80%" style="width: 80%">
          <% else %>
            <img src="/img/default/user-default.png" class="rounded-circle" style="width: 80%">
          <% end %>
          <br><br>
          <div style="font-size: 18px">
          	<strong><%= @pa.first_name+" "+@pa.last_name %></strong><br>
            ( <%= (@pa.verification_status) ? 'Verified' : 'Unverified'%> )
          </div>
          <div style="font-size: 14px;padding: 25px 15px;">
          	<div class="row">
          		<div class="col-12" style="margin-bottom: 5px;padding-bottom:5px;border-bottom: 1px solid #018AFC">
	          		<span class="float-left">Wallet</span>
	          		<span class="float-right">
	          			<strong>Rp. 0,-</strong>
	          		</span>
          	</div>
          	</div>
          	<div class="row">
          		<div class="col-12" style="margin-bottom: 5px;padding-bottom:5px;border-bottom: 1px solid #018AFC">
	          		<span class="float-left">MB-Coin</span>
	          		<span class="float-right">
	          			<strong>0 Coin</strong>
	          		</span>
          	</div>
          	</div>
          	<div class="row">
          		<div class="col-12" style="margin-bottom: 5px;padding-bottom:5px;border-bottom: 1px solid #018AFC">
	          		<span class="float-left">Point</span>
	          		<span class="float-right">
	          			<strong>0 Point</strong>
	          		</span>
          	</div>
          	</div>
          </div>
        </div>
      </div>
		</div>
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home4" role="tab" aria-controls="home"><i class="icon-calculator"></i> Biodata Diri</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile"><i class="icon-basket-loaded"></i> Daftar Alamat</a>
            </li>
          </ul>

          <div class="tab-content" style="min-height: 450px">
            <div class="tab-pane active" id="home4" role="tabpanel">
              <%= render 'profile_form', personal_information: @personal_information %>
            </div>
            <div class="tab-pane" id="profile4" role="tabpanel">
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<% content_for :customjs do %>
<% end %>