<%= form_with(model: personal_information, local: true, :class=>"form-horizontal") do |form| %>
<div class="card-body ">
  <div class="col-md-10 col-xs-12 offset-md-1">
    <% if notice %>
      <div id="error_explanation" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><%= pluralize(notice.count, "error") %> prohibited this user from being saved:</strong>
        <ul>
          <% notice.each do |key, value| %>
            <li><%= key+" "+value[0] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row <%= notice ? ("has-error" if notice['first_name']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :first_name %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :first_name, :class=>"form-control", :placeholder=>:first_name %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['last_name']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :last_name %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :last_name, :class=>"form-control", :placeholder=>:last_name %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['gender']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :gender %>
        </label>
        <div class="col-md-10 col-form-label">
            <label class="radio-inline">
              <%= form.radio_button :gender, 'male', :class=>"" %>
              <%= form.label :gender, 'Pria', :value => 'male' %>
            </label>&emsp;
            <label class="radio-inline">
                <%= form.radio_button :gender, 'female' %>
                <%= form.label :gender, 'Wanita', :value => 'female' %>
            </label>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['birth_place']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :birth_place %>
        </label>
        <div class="col-md-10">
          <%= form.text_field :birth_place, :class=>"form-control", :placeholder=>:birth_place %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['birth_date']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :birth_date %>
        </label>
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </span>
            <%= form.text_field :birth_date, :class=>"form-control", :id=>"date", :placeholder=>:birth_date %>
          </div>
          <small class="text-muted">note: Year-Month-Day</small>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['phone_number']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :phone_number %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :phone_number, :class=>"form-control", :placeholder=>:phone_number %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['telephone']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :telephone %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :telephone, :class=>"form-control", :placeholder=>:telephone %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['address']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :address %>
        </label>
        <div class="col-md-10">
            <%= form.text_area :address, :class=>"form-control", :placeholder=>:address %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['profile_picture']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :profile_picture %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :profile_picture, :class=>"form-control", :placeholder=>:profile_picture %>
        </div>
    </div>
    
    <% if current_page?(new_personal_information_path) %>
    <div class="form-group row <%= notice ? ("has-error" if notice['username']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :username %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :username, :class=>"form-control", :placeholder=>:username %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['email']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :email %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :email, :class=>"form-control", :placeholder=>:email %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['password']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :password %>
        </label>
        <div class="col-md-10">
            <%= form.password_field :password, :class=>"form-control", :placeholder=>:password %>
        </div>
    </div>
    <% else %>
    <div class="form-group row <%= notice ? ("has-error" if notice['password']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          User Account
        </label>
        <div class="col-md-10" style="padding-top: 8px">
            <a href="#">Update Data User</a>
        </div>
    </div>
    <% end %>
  </div>
</div>
<div class="card-footer text-center">
  <%= link_to personal_informations_path, :class=>"btn btn-danger" do %>
            <i class="fa fa-repeat"></i> Back
          <% end %>
          <button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
</div>
<% end %>