<div class="container" style="margin-top: 80px;padding: 0px;margin-bottom: 120px">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active">
          Dashboard
        </span>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% unless @pa.verification_status %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hai <%= @pa.first_name %>!</strong> Segera lengkapi data anda agar dapat mengikut lelang.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
    </div>
  </div>
	<div class="row">
		<div class="col-12 col-md-3">
			<%= render 'partial/user/components/sidebar' %>
		</div>
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home4" role="tab" aria-controls="home"><i class="icon-calculator"></i> Lelang diikuti &nbsp;<span class="badge badge-pill badge-success"><%= @pa.user.auction_user.count %></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile"><i class="icon-basket-loaded"></i> Barang Lelang Anda &nbsp;<span class="badge badge-pill badge-success"><%= @pa.user.auction_item.count %></span></a>
            </li>
          </ul>

          <div class="tab-content" style="min-height: 450px">
            <div class="tab-pane active" id="home4" role="tabpanel">
              <% if @pa.user.auction_user.count==0 %>
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Tidak ada data lelang ditemukan!</strong> Mulai lelang anda segera.
              </div>
              <% elsif (@pa.user.auction_user.where(status: 'join').count==0)%>
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Lelang telah berakhir!</strong> Ikuti lelang lainnya segera.
              </div>
              <% end %>

              <% @auction_user.where(status: 'join').each do |item|%>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header" style="background-color: #fff">
                        <div class="float-left">
                          <strong><%= item.auction.auction_item.name %></strong> (<%= item.auction.auction_item.condition %>)
                        </div>
                        <div class="float-right" style="font-size: 18px">
                          <span id="prefix_clock<%= item.auction.id %>"></span>
                          <strong><span id="clockdiv<%= item.auction.id %>" style="color:#20A8D8"></span></strong>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-3">
                            <div style="background-image: url('<%= item.auction.auction_item.attachment.first.name %>');width: 100%;height: 140px;background-size: auto 100%">
                            </div>
                          </div>
                          <div class="col-9">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <span class="fa fa-users"></span>&nbsp;Bidder : <span class="bidder_count">
                                  <%= item.auction.auction_user.count %>
                                </span>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-calendar"></span>&nbsp;Post Date : <%= item.auction.created_at %>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-legal"></span>&nbsp;Kelipatan Bid : Rp <%= item.auction.price_bid %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="icon-bar float-left" style="margin-top: 6px">
                           Share : &emsp;
                          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                          <a href="#" class="google"><i class="fa fa-google"></i></a>
                          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                          <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                        <a href="#" class="btn btn-primary float-right">
                          <span class="fa fa-legal"></span>
                          BID
                        </a>
                        <a href="<%= auction_path(item.auction) %>" target="_blank" class="btn btn-success float-right" style="margin-right: 5px;">
                          <span class="fa fa-eye"></span>
                          Detail
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="tab-pane" id="profile4" role="tabpanel">
              <% if @pa.user.auction_item.count==0 %>
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Tidak ada data lelang ditemukan!</strong> Mulai lelangkan barang anda.
              </div>
              <% end %>

              <% @auction_self.each do |item|%>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header" style="background-color: #fff">
                        <div class="float-left">
                          <strong><%= item.name %></strong> (<%= item.condition %>)
                        </div>
                        <div class="float-right" style="font-size: 18px">
                          <span id="s_prefix_clock<%= item.auction ? item.auction.id : '' %>"></span>
                          <strong><span id="s_clockdiv<%= item.auction ? item.auction.id : '' %>" style="color:#20A8D8"></span></strong>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-3">
                            <div style="background-image: url('<%= item.attachment.first ? item.attachment.first.name : ''; %>');width: 100%;height: 140px;background-size: auto 100%">
                            </div>
                          </div>
                          <div class="col-9">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <span class="fa fa-users"></span>&nbsp;Bidder : <span class="bidder_count">
                                  <%= (item.auction) ? item.auction.auction_user.count : 0 %>
                                </span>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-calendar"></span>&nbsp;Post Date : <%= item.auction ? item.auction.created_at : 'Not Started yet' %>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-legal"></span>&nbsp;Kelipatan Bid : Rp <%= item.auction ? item.auction.price_bid : 'Not Started yet' %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="icon-bar float-left" style="margin-top: 6px">
                           Share : &emsp;
                          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                          <a href="#" class="google"><i class="fa fa-google"></i></a>
                          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                          <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                        <% if item.auction %>
                        <a href="<%= auction_path(item.auction) %>" target="_blank" class="btn btn-success float-right" style="margin-right: 5px;">
                          <span class="fa fa-eye"></span>
                          Detail
                        </a>
                        <% else %>
                        <span class="float-right">Menunggu Persetujual Admin</span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<% content_for :customjs do %>
  <script>
    $(function () {
        $('.sbid-btn').click(function () {
          <% if session[:user_id] %>
            var auction_id = $(this).data('auction');
            var bidder_id = $(this).data('bidder');
            $.ajax({
              url: '/auctions/bid.json',
              type: 'post',
              data: {
                auction_id : auction_id,
                bidder_id : bidder_id
              },
              success: function (response) {
                console.log(response)
              },
              errors: function(response) {
                console.log(response)
              }
            });
          <% else %>
            window.location.href = '<%= login_path %>';
          <% end %>
      });
    });

    <% @auction_user.each do |item|%>
      var start_date = '<%= item.auction.start_date.strftime("%Y-%m-%d %H:%M") %>';
      var end_date = '<%= item.auction.end_date.strftime("%Y-%m-%d %H:%M") %>';
      var auction_id = '<%= item.auction.id %>';

      initializeClock('prefix_clock'+auction_id, 'clockdiv'+auction_id, start_date, end_date, auction_id);
    <% end %>

    <% @auction_self.each do |item|%>
      <% if item.auction %>
        <% if item.auction.auction_status=="Approved" %>
        var start_date = '<%= item.auction.start_date.strftime("%Y-%m-%d %H:%M") %>';
        var end_date = '<%= item.auction.end_date.strftime("%Y-%m-%d %H:%M") %>';
        var auction_id = '<%= item.auction.id %>';

        initializeClock('s_prefix_clock'+auction_id, 's_clockdiv'+auction_id, start_date, end_date, auction_id);
        <% end %>
      <% end %>
    <% end %>

    function getTimeRemaining(endtime){
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor( (t/1000) % 60 );
      var minutes = Math.floor( (t/1000/60) % 60 );
      var hours = Math.floor( (t/(1000*60*60)) % 24 );
      var days = Math.floor( t/(1000*60*60*24) );
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }

    function initializeClock(prefix, id, start_date, end_date, auction_id){
      var clock = document.getElementById(id);

      if(Date.parse(end_date) > Date.parse(new Date())){
        var timeinterval = setInterval(function(){
          if(Date.parse(start_date) > Date.parse(new Date())){
            endtime =  start_date;
            $('#'+prefix).text('Mulai dalam : ');
            $('.bid-btn'+auction_id).addClass("disabled");
          }else{
            endtime = end_date;
            $('#'+prefix).text('Berakhir dalam : ');
          }
          var t = getTimeRemaining(endtime);
          clock.innerHTML = t.days + 'D : ' + t.hours + 'H : '+ t.minutes + 'M : ' + t.seconds+'S';
          if(t.total<=0){
            clearInterval(timeinterval);
            location.reload();
          }
        },1000);
      }else{
        $('.bid-btn'+auction_id).addClass("disabled");
        $('#'+prefix).text('(Lelang telah berakhir)');
      }
    }
  </script>
<% end %>