<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i> Brands Management
      <div class="card-actions">
        <%= link_to raw('<i class="fa fa-plus"></i>'),
                new_be_brand_path,
                data: {toggle: 'tooltip'},
                :class => 'btn btn-success pull-right btn-sm',
                :title => 'Buat User Baru' %>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <table class="table table-striped table-bordered datatable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Tags</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @brands.each do |brand| %>
                <tr>
                  <td><%= brand.name %></td>
                  <td><%= brand.tags %></td>
                  <td><%= brand.category.name %></td>
                  <td>
                    <%= link_to raw('<i class="fa fa-edit"></i>'),
                                   edit_be_brand_path(brand),
                                  data: {toggle: 'tooltip'},
                                  :class => 'btn btn-info',
                                  :title => 'Edit' %>
                    <%= link_to raw('<i class="fa fa-trash-o"></i>'),
                                  be_brand_path(brand),
                                  method: :delete,
                                  data: {confirm: 'Are you sure?', toggle: 'tooltip' },
                                  :class => 'btn btn-danger',
                                  :title => 'Delete' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-4 col-xs-12">
          <% if flash[:notice].present? %>
            <% flash[:notice].each do |key, value| %>
              <div class="alert alert-<%= key %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <% if value[1].nil? %>
                  <% value.each do |field, res| %>
                    <%= field+" "+res[0] %></br>
                  <% end %>
                <% else %>
                <%= value %></br>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%= form_for ["be", @brand], local: true, :class=>"form-horizontal" do |f| %>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="name">
                <strong><%= f.label 'Name' %></strong>
              </label>
              <div class="col-md-10">
                <%= f.text_field :name, {:class => 'form-control', :placeholder => 'Name', :autocomplete => 'off'} %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="tag">
                <strong><%= f.label 'Tag' %></strong>
              </label>
              <div class="col-md-10">
                <%= f.text_field :tags, {:class => 'form-control', :placeholder => 'Tag', :autocomplete => 'off'} %>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="tag">
                <strong><%= f.label 'Category' %></strong>
              </label>
              <div class="col-md-10">
                <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name), {}, {:class => 'form-control'}%>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-10 offset-md-2">
                <%= f.submit({:class => 'btn btn-primary'}) %>
                <%= f.button("Reset",{:class => 'btn btn-warning', :type => 'reset'}) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
    });
  </script>
<% end %>