<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @brand.tags %>
</p>

<p>
  <strong>Category:</strong>
  <%= @brand.category_id %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
