@import "flag-icon.min.css";
@import "font-awesome.min.css";
@import "simple-line-icons.min.css";
@import "main-style.css";
@import "daterangepicker.min.css";
@import "gauge.min.css";
@import "toastr.min.css";
@import "dataTables.bootstrap4.min.css";
@import "select2.min.css";
@import "select2-bootstrap4.css";
@import "slick.css";
@import "slick-theme.css";
@import "homes.scss";
@import "summernote.css";

.menu-dashboard {
	padding-top: 40px;
}

.alert-notif {
	padding-top: 70px;
}

.app {
	background-color: #fff
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/GothamBook.ttf');
}

body{
  font-family: "Gotham";
}

.scrollable {
    border: 1px solid #999;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    overflow: auto;
}

.icon-bar a {
  text-align: center;
  padding: 8px;
  color: white;
  font-size: 15px;
}
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.swal-text{
  text-align: center;
}
.swal-footer {
  text-align: center;
}

/* Steps */
.step {
  position: relative;
  min-height: 1em;
  color: gray;
}
.step + .step {
  margin-top: 1.5em
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
.step.step-active {
  color: #4285f4
}
.step.step-active .circle {
  background-color: #4285f4;
}

/* Circle */
.circle {
  background: gray;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
}

/* Vertical Line */
.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
.step:last-child .circle:after {
  display: none
}

/* Stepper Titles */
.title {
  line-height: 1.5em;
  font-weight: bold;
}
.caption {
  font-size: 0.8em;
}