// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-attachment: fixed;
  width: 100%;
}

/*The Slides*/
.banner:nth-child(1) {
  height: 65vh;
  background-image: url(https://i01.appmifile.com/webfile/globalimg/Joy/C3G/C3G-Banner-1920.jpg);
}
.banner:nth-child(2) {
  height: 100vh;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paisley.png);
}
.banner:nth-child(3) {
  height: 100%;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paisley.png); */
}

/* Demo Styles */

.search {
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

h1 {
  font-size: 5rem;
  color:red;
}

body{
  background-color: #F7F7F7;
}