<div class="container" style="margin-top: 80px;padding: 0px;margin-bottom: 120px">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active">
          Transaksi
        </span>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3">
      <%= render 'partial/user/components/sidebar' %>
    </div>
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home1" role="tab" aria-controls="home"><i class="icon-calculator"></i> Lelang di ikuti &nbsp;<span class="badge badge-pill badge-success"><%= @pa.user.auction_user.count %></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#home2" role="tab" aria-controls="home"><i class="icon-calculator"></i> Barang Lelang anda &nbsp;<span class="badge badge-pill badge-success"><%= @pa.user.auction_user.count %></span></a>
            </li>
          </ul>
          <div class="tab-content" style="min-height: 450px">
            <div class="tab-pane active" id="home1" role="tabpanel">
              <% if @transactions.count==0 %>
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Tidak ada data transaksi ditemukan!</strong> Mulai lelang anda segera.
              </div>
              <% end %>

              <div class="alert alert-secondary" role="alert" style="font-size: 13px">
                Pesanan akan otomatis dibatalkan jika:
                <ul>
                  <li>Tidak direspon penjual dalam 1x24 jam atau tidak dikirim dalam 2x24 jam (Hari kerja, Pengiriman Reguler)</li>
                  <li>Tidak direspon penjual diatas 15.00 WIB atau tidak dikirim diatas 16.00 WIB (Hari kerja, Same Day & Instant Service)</li>
                </ul>
              </div>
              <div class="row">
                <div class="col-12 col-md-7">
                  <div class="row">
                    <div class="col-7">
                      <div class="input-group" style="padding:0px">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit">
                            <span class="fa fa-calendar"></span>
                          </button>
                        </div>
                        <input type="text" name="daterange" class="form-control" />
                      </div>
                    </div>

                    <div class="form-group col-5" style="padding:0px">
                      <select class="form-control">
                        <option>Terbaru</option>
                        <option>Belum Dibayar</option>
                        <option>Telah Dibayar</option>
                        <option>Dalam Pengiriman</option>
                        <option>Telah Sampai</option>
                        <option>Selesai</option>
                        <option>Dispute</option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class="col-12 col-md-4 offset-md-1">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Cari nama barang, invoice">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <span class="fa fa-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <% @transactions.each do |item|%>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header" style="background-color: #fff">
                        <div class="float-left">
                          <strong><%= item.auction.auction_item.name %></strong> (<%= item.auction.auction_item.condition %>)
                        </div>
                        <div class="float-right" style="font-size: 18px">
                          <span class="badge badge-pill badge-success">
                          <strong>
                            <% case item.status %>
                            <% when "01" %>
                              Menunggu Pembyaran
                            <% when "02" %>
                              Menunggu Konfirmasi Pembayaran
                            <% when "03" %>
                              Telah dibayar
                            <% when "04" %>
                              Menunggu Konfirmasi Pelelang
                            <% when "05" %>
                              Pengirman Barang
                            <% when "06" %>
                              Barang Sampai
                            <% when "07" %>
                              Pengembalian Barang
                            <% when "08" %>
                              Selesai
                            <% when "09" %>
                              Dibatalkan
                            <% else %>
                              Unknown
                            <% end %>
                          </strong>
                          </span>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-3">
                            <div style="background-image: url('<%= item.auction.auction_item.attachment.first.name %>');width: 100%;height: 140px;background-size: auto 100%">
                            </div>
                          </div>
                          <div class="col-9" style="font-size: 14px">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <span class="fa fa-users"></span>&nbsp;No Transaksi : <span class="bidder_count">
                                  <%= item.trx_no %>
                                </span>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-calendar"></span>&nbsp;Tanggal Transaksi : <%= item.trx_date %>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-legal"></span>&nbsp;Due Date : Rp <%= item.due_date %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="icon-bar float-left" style="margin-top: 6px;font-size: 15px">
                          <span>Total Rp</span>
                          <strong><span style="color:#000"><%= item.price %></span></strong>
                          <a href="#" onclick="detail_transaction_modal(<%= item.id %>)" style="color: #20A8D8">
                            (Lihat Detail Pesanan)
                          </a>
                        </div>
                        <% if item.status=="06" %>
                        <button class="btn btn-danger float-right" onclick="dispute_modal(<%= item.id %>)" style="margin-left: 5px">
                          <i class="fa fa-reply"></i> Dispute
                        </button>
                        <%= link_to raw('<span class="fa fa-check"></span> Konfirmasi'),
                              received_transactions_path(item.trx_no),
                              method: :patch,
                              data: {confirm: 'Barang telah diterima ?', toggle: 'tooltip' },
                              :class => 'btn btn-primary float-right',
                              :title => 'Konfirmasi' %>
                        <% end %>
                        <a href="<%= auction_path(item.auction) %>" target="_blank" class="btn btn-success float-right" style="margin-right: 5px;">
                          <span class="fa fa-eye"></span>
                          Detail
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="tab-pane" id="home2" role="tabpanel">
              <% if @transactions.count==0 %>
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Tidak ada data transaksi ditemukan!</strong> Mulai lelang anda segera.
              </div>
              <% end %>
              <div class="row">
                <div class="col-12 col-md-7">
                  <div class="row">
                    <div class="col-7">
                      <div class="input-group" style="padding:0px">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit">
                            <span class="fa fa-calendar"></span>
                          </button>
                        </div>
                        <input type="text" name="daterange" class="form-control" />
                      </div>
                    </div>

                    <div class="form-group col-5" style="padding:0px">
                      <select class="form-control">
                        <option>Terbaru</option>
                        <option>Belum Dibayar</option>
                        <option>Telah Dibayar</option>
                        <option>Dalam Pengiriman</option>
                        <option>Telah Sampai</option>
                        <option>Selesai</option>
                        <option>Dispute</option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class="col-12 col-md-4 offset-md-1">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Cari nama barang, invoice">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <span class="fa fa-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <% @transactions_self.each do |item|%>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header" style="background-color: #fff">
                        <div class="float-left">
                          <strong><%= item.auction.auction_item.name %></strong> (<%= item.auction.auction_item.condition %>)
                        </div>
                        <div class="float-right" style="font-size: 18px">
                          <span class="badge badge-pill badge-success">
                            <strong>
                              <% case item.status %>
                              <% when "01" %>
                                Menunggu Pembyaran
                              <% when "02" %>
                                Menunggu Konfirmasi Pembayaran
                              <% when "03" %>
                                Telah Dibayar Pemenang
                              <% when "04" %>
                                Menunggu Konfirmasi Anda
                              <% when "05" %>
                                Pengirman Barang
                              <% when "06" %>
                                Barang Sampai
                              <% when "07" %>
                                Pengajuan Pengembalian
                              <% when "08" %>
                                Selesai
                              <% when "09" %>
                                Dibatalkan
                              <% else %>
                                Unknown
                              <% end %>
                            </strong>
                          </span>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-3">
                            <div style="background-image: url('<%= item.auction.auction_item.attachment.first.name %>');width: 100%;height: 140px;background-size: auto 100%">
                            </div>
                          </div>
                          <div class="col-9">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <span class="fa fa-users"></span>&nbsp;Bidder : <span class="bidder_count">
                                  <%= item.trx_no %>
                                </span>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-calendar"></span>&nbsp;Trx Date : <%= item.trx_date %>
                              </li>
                              <li class="list-group-item">
                                <span class="fa fa-legal"></span>&nbsp;Due Date : Rp <%= item.due_date %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="icon-bar float-left" style="margin-top: 6px;font-size: 17px">
                          <span>Total Rp</span>
                          <strong><span style="color:#000"><%= item.price %></span></strong>
                          <a href="#" onclick="detail_transaction_modal(<%= item.id %>)" style="color: #20A8D8">
                            (Lihat Detail Pesanan)
                          </a>
                        </div>

                        <% if item.status=="03" %>
                        <%= link_to raw('<span class="fa fa-check"></span> Konfirmasi'),
                              auctioner_confirmation_transactions_path(item.trx_no),
                              method: :patch,
                              data: {confirm: 'Konfirmasi Transaksi untuk melanjutkan ke pengiriman ?', toggle: 'tooltip' },
                              :class => 'btn btn-primary float-right',
                              :title => 'Konfirmasi' %>
                        <% end %>
                        <% if item.status=="04" %>
                        <button class="btn btn-primary float-right" onclick="input_resi_modal(<%= item.id %>)">
                          <i class="fa fa-file-text"></i> Masukan No Resi
                        </button>
                        <% end %>

                        <% if item.status=="07" %>
                        <button class="btn btn-primary float-right" onclick="dispute_approve_modal(<%= item.id %>)">
                          <i class="fa fa-reply"></i> Dispute
                        </button>
                        <% end %>

                        <a href="<%= auction_path(item.auction) %>" target="_blank" class="btn btn-success float-right" style="margin-right: 5px;">
                          <span class="fa fa-eye"></span>
                          Detail
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="inputResiModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Pengiriman Barang</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= form_with url: send_item_transactions_path, local:true, html: { multipart: true } do |form| %>
      <div class="modal-body">
        Silahkan input no resi transaksi anda :<br><br>
        <input type="hidden" name="id" id="id">
        <div class="form-group row">
          <label class="col-3">
            <strong>No Resi</strong>
          </label>
          <div class="col-9">
            <input type="text" name="resi_no" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3">
            Image
          </label>
          <div class="col-md-9">
              <%= form.file_field :resi_no_image %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        <%= form.submit({:class => 'btn btn-success'}) %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" id="disputeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Pengajuang pengembalian barang</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= form_with url: dispute_transactions_path, local:true do |form| %>
      <div class="modal-body">
        Silahkan isi alasan pengembalian barang :<br><br>
        <input type="hidden" name="id" id="id-dispute">
        <div class="form-group row">
          <label class="col-3">
            <strong>Alasan</strong>
          </label>
          <div class="col-9">
            <textarea class="form-control" name="reason"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        <%= form.submit({:class => 'btn btn-success'}) %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" id="disputeApproveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Pengajuang pengembalian barang</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= form_with url: dispute_transactions_path, local:true do |form| %>
      <div class="modal-body">
        Pemenang mengajukan pengembalian barang dengan alasan :<br><br>
        <input type="hidden" name="id" id="id-approve-dispute">
        <div class="form-group row">
          <label class="col-3">
            <strong>Alasan : </strong>
          </label>
          <div class="col-9">
            Barang Tidak sesuai
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        <%= form.submit({:class => 'btn btn-success'}) %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="modal" id="detailTransaction">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div id="content-detail-transaksi"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :customjs do %>
  <script type="text/javascript">
    function input_resi_modal(id){
      $('#inputResiModal').modal('show');
      $('#id').val(id);
    }
    function dispute_modal(id){
      $('#disputeModal').modal('show');
      $('#id-dispute').val(id);
    }
    function dispute_approve_modal(id){
      $('#disputeApproveModal').modal('show');
      $('#id-approve-dispute').val(id);
    }
    function detail_transaction_modal(id){
      var action = '<%= transaction_path(":id") %>'
      $.ajax({
        url: action.replace(':id', id),
        type: "GET",
        success: function (response) {
          $('#content-detail-transaksi').html(response);
          $('#detailTransaction').modal('show');
        },
      });
    }
    $(function() {
      $('input[name="daterange"]').daterangepicker({
        opens: 'left'
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });
  </script>
<% end %>