<div class="container" style="margin-top: 80px;padding: 0px;margin-bottom: 120px">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <span class="breadcrumb-item active">
          Konfirmasi Pembayaran
        </span>
      </nav>
    </div>
  </div>
	<div class="row">
		<div class="col-12 col-md-3">
			<%= render 'partial/user/components/sidebar' %>
		</div>
    <div class="col-12 col-md-9">
      <div class="card" style="min-height: 400px;padding: 30px 0px">
        <div class="card-body text-center">
          <div class="row">
            <div class="col-12">
              <h3>Batas Waktu Pembayaran</h3>
              <h4  style="color: #018AFC">
                <span id="clockdiv">0D : 0H : 0M : 0S</span>
              </h4>
            </div>
            <div class="col-12" style="margin-top: 20px">
              <div class="card">
                <div class="card-header" style="background-color: #fff">
                  <div class="float-left">
                    <strong><%= @transaction.auction.auction_item.name %></strong> (<%= @transaction.auction.auction_item.condition %>)
                  </div>
                  <div class="float-right" style="font-size: 18px">
                    <span>Total Rp</span>
                    <strong><span style="color:#20A8D8"><%= @transaction.price %></span></strong>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-3">
                      <div style="background-image: url('<%= @transaction.auction.auction_item.attachment.first.name %>');width: 100%;height: 140px;background-size: auto 100%">
                      </div>
                    </div>
                    <div class="col-9 text-left">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <span class="fa fa-users"></span>&nbsp;Bidder : <span class="bidder_count">
                            <%= @transaction.trx_no %>
                          </span>
                        </li>
                        <li class="list-group-item">
                          <span class="fa fa-calendar"></span>&nbsp;Trx Date : <%= @transaction.trx_date %>
                        </li>
                        <li class="list-group-item">
                          <span class="fa fa-legal"></span>&nbsp;Due Date : Rp <%= @transaction.due_date %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <a href="<%= auction_path(@transaction.auction_id) %>" target="_blank" class="btn btn-success float-right" style="margin-right: 5px;">
                    <span class="fa fa-eye"></span>
                    Detail
                  </a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-7 text-left" style="margin-top: 20px;padding-top: 20px">
              <div style="border-bottom: solid 1px #018AFC;margin-bottom: 10px">
                <strong>Alamat pengiriman</strong>
              </div> 
              <div>
                <strong><%= @pa.first_name+" "+@pa.last_name %></strong><br>
                <%= @pa.phone_number %><br>
                <%= @pa.address %>
              </div>
              <div style="border-top: solid 1px #018AFC;margin-bottom: 10px;padding-top: 5px">
                <a href="#" class="btn btn-primary float-right">Pilih alamat lain</a>
              </div>

              <div style="border-bottom: solid 1px #018AFC;margin-bottom: 10px;margin-top: 50px">
                <strong>Metode Pengiriman</strong>
              </div>
              <div class="form-group row" style="padding-right: 15px">
                <label class="col-4" style="margin-top: 7px"><strong>Kurir pilihan</strong></label>
                <select name="courier" class="form-control col-8 select2" id="courier">
                  <option value="jne">JNE</option>
                  <option value="pos">POS Indonesia</option>
                  <option value="tiki">TIKI</option>
                </select>
              </div>
              <div class="form-group row" style="padding-right: 15px">
                <label class="col-4" style="margin-top: 7px"><strong>Durasi</strong></label>
                <select name="" class="form-control col-8 select2" id="duration">
                </select>
              </div>
              <div class="form-group row" id="courier-selected" style="padding-right: 15px">
                <label class="col-4">&nbsp;</label>
                <div class="col-8" id="pre-cost" style="padding-left: 0px">
                  (Pilih durasi pengiriman)
                </div>
              </div>
            </div>

            <div class="col-12 col-md-5 text-left" style="margin-top: 20px">
              <div class="card">
                <div class="card-body">
                  <div style="border-bottom: solid 1px #018AFC;margin-bottom: 10px">
                    <strong>Ringkasan Transaksi</strong>
                  </div>
                  <div class="row">
                    <div class="col-12" style="padding-bottom: 5px;margin-top: 5px">
                      <div class="float-left">
                        Total Harga
                      </div>
                      <div class="float-right">
                        Rp <%= @transaction.price %>
                      </div>
                    </div>
                    <div class="col-12" style="padding-bottom: 5px">
                      <div class="float-left">
                        Ongkos Kirim
                      </div>
                      <div class="float-right">
                        <span id="delivery-cost-label">-</span>
                      </div>
                    </div>
                    <div class="col-12" style="padding-bottom: 5px">
                      <div class="float-left">
                        Asusransi Pengiriman
                      </div>
                      <div class="float-right">
                        Rp 0
                      </div>
                    </div>
                  </div>
                  <div style="border-bottom: solid 1px #018AFC;border-top: solid 1px #018AFC;margin-bottom: 10px;padding:10px 0px;margin:10px 0px">
                    <div class="row">
                      <div class="col-12">
                        <div class="float-left">
                          Total Tagihan
                        </div>
                        <div class="float-right" id="total-price-label">
                          Rp <%= (@transaction.price.to_i) %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-top: 30px">
                    <div class='cart'>
                      <!-- some other codes -->
                      <input type='hidden' name='snap-token' id='snap-token' value='<%=  %>'>
                      <%= hidden_field_tag 'snap_token', @snap_token %>
                      <a href='#' class='btn btn-success order-button disabled' style="width: 100%">Bayar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<% content_for :customjs do %>
  <script type="text/javascript">
    $('#courier').select2({
      theme: "bootstrap4",
      placeholder: "Pilih kurir",
      allowClear: true
    });
    $('#duration').select2({
      theme: "bootstrap4",
      placeholder: "Pilih durasi",
      allowClear: true
    });
    $("#courier").val('').trigger('change');
    var user_id   = '<%= session[:user_id] %>';
    var transaction_id = '<%= (@transaction.id) %>';
    var trx_id    = '<%= (@transaction.trx_no) %>';
    var total_pay = '<%= (@transaction.price) %>';

    var couriers;
    var courier_type;
    var courier_service;
    var courier_etd;
    var courier_cost;

    $(function(){
      // On change courier
      $("#courier").change(function(){
        $('#duration').children('option').remove();
        courier_type = $(this).val().toUpperCase();
        generate_cost("501", "114", 1700, $(this).val());
        $('#pre-cost').html("");
        $('#delivery-cost-label').text('-');
        $('#total-price-label').text('Rp '+total_pay);
        $('.order-button').addClass('disabled');
      });
      // On change duration
      $("#duration").change(function(){
        $('#pre-cost').html("");
        $('#delivery-cost-label').text('-');
        $('#total-price-label').text('Rp '+total_pay);
        $('.order-button').addClass('disabled');
        var i   = $(this).val();
        var val = couriers.costs[i];
        if(val){
          courier_service = val.service
          courier_etd     = val.cost[0].etd
          courier_cost   = val.cost[0].value
          html = '<div>';
          html += '<span>'+courier_type+'</span>&nbsp;';
          html += '<span>'+courier_service+'</span>&nbsp;';
          html += '  <span>(Rp '+courier_cost+')</span>&emsp;';
          html += '</div>';
          html += '<div class="form-check">';
          html += '<label class="form-check-label">';
          html += '<input type="checkbox" class="form-check-input" value="">Asuransi Pengiriman';
          html += '</label>';
          html += '</div>';
          $('#pre-cost').html(html);
          var summary = parseInt(val.cost[0].value)+parseInt(total_pay);
          $('#delivery-cost-label').text(val.cost[0].value);
          $('#total-price-label').text('Rp '+summary);
          $('.order-button').removeClass('disabled');
        }
      });
    });

    function generate_cost(origin, destination, weight, courier){
      $.ajax({
          url: '<%= generate_cost_api_service_index_path %>',
          type: "POST",
          data: {
            origin      : origin,
            destination : destination,
            weight      : weight,
            courier     : courier
          },
          success: function (res) {
            $('#duration').children('option').remove();
            if(res.data){
              couriers = res.data[0];
              var i=0;
              couriers.costs.forEach(val => {
                html = '<option value="'+i+'">';
                html += val.cost[0].etd+' Hari ';
                html += '('+val.service+' - Rp '+val.cost[0].value+')';
                html += '</option>'
                $('#duration').append(html);
                i++;
              });
              $("#duration").val('').trigger('change');
            }
          }
      });
    }

    function finished_payment(code){
      $.ajax({
          url: '<%= payment_transaction_update_api_service_index_path %>',
          type: "POST",
          data: {
            user_id         : user_id,
            transaction_id  : transaction_id,
            courier_type    : courier_type,
            courier_service : courier_service,
            courier_etd     : courier_etd,
            courier_cost    : courier_cost,
            code            : code
          },
          success: function (res) {
            if(res.status=='200'){
              swal("Transaksi Berhasil!", "Terimakasih telah menyelesaikan tahap pembayaran, pesanan anda akan segera di proses.", "success")
              .then((value) => {
                window.location.href = "<%= transactions_path %>";
              });

            }else{
              swal("Transaksi Gagal!", "Mohon maaf terjadi kesalah, mohon hubungi pihak CS kami", "error");
            }
          }
      });
    }

    // Payment Midtrans
    var token = jQuery("#snap_token").val();

    $(".order-button").on("click", function() {
      $.ajax({
          url: '<%= generate_payment_token_api_service_index_path %>',
          type: "POST",
          data: {
            trx_id    : trx_id,
            total_pay : total_pay
          },
          success: function (res) {
            console.log();
            if(res.data.token){
              snap.pay(res.data.token, {
                onPending : function(res) {
                  console.log("PENDING RESPONSE", res);
                  finished_payment("02");
                },
                onSuccess : function(res) {
                  console.log("SUCCESS RESPONSE", res);
                  finished_payment("03");
                },
              });
            }
          }
      });
    });

    var end_date = '<%= @transaction.due_date.strftime("%Y-%m-%d %H:%M") %>';

    initializeClock('prefix_clock', 'clockdiv', end_date);

    function getTimeRemaining(endtime){
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor( (t/1000) % 60 );
      var minutes = Math.floor( (t/1000/60) % 60 );
      var hours = Math.floor( (t/(1000*60*60)) % 24 );
      var days = Math.floor( t/(1000*60*60*24) );
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }

    function initializeClock(prefix, id, end_date){
      var clock = document.getElementById(id);

      if(Date.parse(end_date) > Date.parse(new Date())){
        var timeinterval = setInterval(function(){
          var t = getTimeRemaining(endtime);
          clock.innerHTML = t.days + 'D : ' + t.hours + 'H : '+ t.minutes + 'M : ' + t.seconds +' S';
          if(t.total<=0){
            clearInterval(timeinterval);
            location.reload();
          }
        },1000);
      }else{
        $('#'+prefix).text('(Masa pembayaran telah berakhir)');
      }
    }
  </script>
<% end %>