<div class="container-fluid">
  <div class="row" style="margin-top: 20px">
    <div class="col-12 text-center">
      <div style="font-size: 20px">
        <strong>Detail Transaksi</strong>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-4">
      <img src="<%= @transaction.auction.auction_item.attachment.first.name.url(:thumb) %>" style="width: 100%">
    </div>
    <div class="col-8" style="font-size: 14px;">
      <div>
        <span>Nomor Invoice</span><br>
        <span style="color:#20A8D8;font-size: 14px">
          <strong><%= @transaction.trx_no %></strong>
        </span>
      </div>
      <div>
        <span>Status</span><br>
        <span style="color:#20A8D8;font-size: 14px">
          <strong>
            <% case @transaction.status %>
              <% when "01" %>
                Menunggu Pembyaran
              <% when "02" %>
                Menunggu Konfirmasi Pembayaran
              <% when "03" %>
                Telah dibayar
              <% when "04" %>
                Menunggu Konfirmasi Pelelang
              <% when "05" %>
                Pengirman Barang
              <% when "06" %>
                Barang Sampai
              <% when "07" %>
                Pengembalian Barang
              <% when "08" %>
                Selesai
              <% when "09" %>
                Dibatalkan
              <% else %>
                Unknown
              <% end %>
            </strong>
        </span>
      </div>
      <div>
        <span>Tanggal Pembelian</span><br>
        <span style="color:#20A8D8;font-size: 14px">
          <strong><%= @transaction.created_at %></strong>
        </span>
      </div>
  </div>
  <div class="col-12" style="border-top: solid 1px  #7B7B7B;margin-top: 20px;padding-top: 10px">
    <div><strong>Pengiriman</strong></div>
    <% if @transaction.status>"01" %>
    <div>
      <strong>
      <%= @transaction.courier_type+" - "+@transaction.courier_service %>
      </strong>
    </div>
    <div>
      <span>No. Resi: <%= @transaction.resi_no %></span><br>
      <span>dikirim kepada <strong><%= @pa.first_name+" "+@pa.last_name%></strong></span><br>
      <span><%= @pa.address%></span><br>
      <span>no telp: <%= @pa.phone_number%></span>
    </div>
    <% else %>
    Belum ada riwayat pengiriman
    <% end %>
  </div>
  <div class="col-12" style="border-top: solid 1px  #7B7B7B;margin-top: 20px;padding-top: 10px">
    <div><strong>Status pesanan</strong></div><br>
    <div style="padding-left: 10px;overflow-y: scroll;max-height: 350px">
      <div class="step <%= @transaction.status=='01' ? 'step-active': '' %>">
        <div>
          <div class="circle">
            <% if @transaction.status>"01"%>
              <i class="fa fa-check"></i>
            <% else %>
              1
            <% end %>
          </div>
        </div>
        <div>
          <div class="title">Menunggu Pembayaran</div>
          <div class="caption"><%= @transaction.created_at %></div>
        </div>
      </div>
      <div class="step <%= @transaction.status=='02' ? 'step-active': '' %>">
        <div>
          <div class="circle">
            <% if @transaction.status>"02"%>
              <i class="fa fa-check"></i>
            <% else %>
              2
            <% end %>
          </div>
        </div>
        <div>
          <div class="title">Menunggu Konfirmasi Pembayaran</div>
          <div class="caption">-</div>
        </div>
      </div>
      <div class="step <%= @transaction.status=='03' ? 'step-active': '' %>">
        <div>
          <div class="circle">
            <% if @transaction.status>"03"%>
              <i class="fa fa-check"></i>
            <% else %>
              3
            <% end %>
          </div>
        </div>
        <div>
          <div class="title">Telah dibayar</div>
          <div class="caption">-</div>
        </div>
      </div>
      <div class="step <%= @transaction.status=='04' ? 'step-active': '' %>">
        <div>
          <div class="circle">
            <% if @transaction.status>"04"%>
              <i class="fa fa-check"></i>
            <% else %>
              4
            <% end %>
          </div>
        </div>
        <div>
          <div class="title">Pesnana di proses</div>
          <div class="caption">-</div>
        </div>
      </div>
      <div class="step <%= @transaction.status=='05' ? 'step-active': '' %>">
        <div>
          <div class="circle">
            <% if @transaction.status>"05"%>

              <i class="fa fa-check"></i>
            <% else %>
              5
            <% end %>
          </div>
        </div>
        <div>
          <div class="title">Pesanan dikirim</div>
          <div class="caption">-</div>
        </div>
      </div>
      <div class="step <%= @transaction.status=='06' ? 'step-active': '' %>">
        <div>
          <div class="circle">
            <% if @transaction.status>"06"%>
              <i class="fa fa-check"></i>
            <% else %>
              6
            <% end %>
          </div>
        </div>
        <div>
          <div class="title">Pesanan tiba</div>
          <div class="caption">-</div>
        </div>
      </div>
      <div class="step <%= @transaction.status=='07' ? 'step-active': '' %>">
        <div>
          <div class="circle">
            <% if @transaction.status>"07"%>
              <i class="fa fa-check"></i>
            <% else %>
              7
            <% end %>
          </div>
        </div>
        <div>
          <div class="title">Pesanan Dikomplain</div>
          <div class="caption">-</div>
        </div>
      </div>
      <div class="step <%= @transaction.status=='08' ? 'step-active': '' %>">
        <div>
          <div class="circle">
            <% if @transaction.status>"08"%>
              <i class="fa fa-check"></i>
            <% else %>
              8
            <% end %>
          </div>
        </div>
        <div>
          <div class="title">Pesnaan Selesai</div>
          <div class="caption">-</div>
        </div>
      </div>

    </div>
  </div>
</div>