<%= form_for ["be", auction], local: true, :class=>"form-horizontal" do |form| %>
<div class="card-body ">
  <div class="col-md-10 col-xs-12 offset-md-1">
    <% if notice %>
      <div id="error_explanation" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><%= pluralize(notice.count, "error") %> prohibited this doctor from being saved:</strong>
        <ul>
          <% notice.each do |key, value| %>
            <li><%= key+" "+value[0].to_s %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row <%= notice ? ("has-error" if notice['auction_item_id']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label "Auction Item" %>
        </label>
        <div class="col-md-10">
            <%= form.select :auction_item_id, options_from_collection_for_select(@auction_items, :id, :name, auction.auction_item_id),  {}, {:class => 'form-control', :id => 'select2-1'}%>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['start_price']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :start_price %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :start_price, :class=>"form-control", :placeholder=>:start_price %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['start_date']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :start_date %>
        </label>
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </span>
            <%= form.text_field :start_date, :class=>"form-control", :id=>"datepicker", :placeholder=>:start_date %>
          </div>
          <small class="text-muted">note: Year-Month-Day</small>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['interval']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :interval %>
        </label>
        <div class="col-md-10">
            <%= form.select :interval, options_for_select([['3 Days', 3], ['7 Days', 7], ['14 Days', 14]], :selected => auction.interval), {}, {:class => 'form-control'}%>
        </div>
    </div>

  </div>
</div>
<div class="card-footer text-center">
  <%= link_to be_auctions_path, :class=>"btn btn-danger" do %>
            <i class="fa fa-repeat"></i> Back
          <% end %>
          <button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
</div>
<% end %>