<div class="row">
	<div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <strong>Editing Auction Request</strong>
        Form
      </div>
      	<%= render 'form', auction: @auction %>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $("#date").mask("9999-99-99");
    $('#select2-1, #select2-2, #select2-4').select2({
	    theme: "bootstrap"
	  });
  </script>
  <script type="text/javascript">
  	$(function() {
		  $('#datepicker').daterangepicker({
		  	timePicker: true,
		  	timePicker24Hour: true,
		    singleDatePicker: true,
		    showDropdowns: true,
		    minYear: 1901,
		    maxYear: parseInt(moment().format('YYYY'),10),
		    locale: {
				      format: 'Y-M-DD H:mm'
				}
		  });
		});
  </script>
<% end %>