<%= render "partial/notification" %>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i> Auction Request Management
      <div class="card-actions">
        <%= link_to raw('<i class="fa fa-plus"></i>'),
                new_be_auction_path,
                data: {toggle: 'tooltip'},
                :class => 'btn btn-success pull-right btn-sm',
                :title => 'New Auction Request' %>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered datatable">
        <thead>
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Auctioner</th>
            <th>Start Price</th>
            <th>Strat Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @auctions.each_with_index do |auction, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td><%= auction.auction_item.name %></td>
              <td>
                <%= auction.auction_item.user.personal_information.first_name+" "+auction.auction_item.user.personal_information.last_name %>
              </td>
              <td><%= auction.start_price %></td>
              <td><%= auction.start_date %></td>
              <td>
                <%= (auction.auction_item.is_sold) ? "Sold" : ((auction.auction_item.is_approve) ? "Approved" : "New") %>
              </td>
              <td>
                <% unless auction.auction_item.is_approve %>
                  <button class="btn btn-success" onclick="approve_modal(<%= auction.id %>)">
                    <i class="fa fa-check"></i>
                  </button>
                <% else %>
                  <%= link_to raw('<i class="fa fa-user"></i>'),
                               edit_be_auction_path(auction),
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-success',
                              :title => 'Approve' %>
                <% end %>
                <%= link_to raw('<i class="fa fa-search-plus"></i>'),
                              auction,
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-primary',
                              :title => 'Show' %>
                <%= link_to raw('<i class="fa fa-edit"></i>'),
                               edit_be_auction_path(auction),
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-info',
                              :title => 'Edit' %>
                <%= link_to raw('<i class="fa fa-trash-o"></i>'),
                              be_auction_path(auction),
                              method: :delete,
                              data: {confirm: 'Are you sure?', toggle: 'tooltip' },
                              :class => 'btn btn-danger',
                              :title => 'Delete' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal" id="approveModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Approve Auction</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure to approve this auction ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        <%= form_with url: approve_be_auctions_path, local:true do |form| %>
          <input type="hidden" name="auction_id" id="auction_id">
          <%= form.submit({:class => 'btn btn-success'}) %>
        <% end %>
      </div>

    </div>
  </div>
</div>


<% content_for :page_scripts do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
    });
    function approve_modal(auction_id){
      $('#approveModal').modal('show');
      $('#auction_id').val(auction_id);
    }
  </script>
<% end %>