<%= render "partial/notification" %>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i> Ready Auction
      <div class="card-actions">
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered datatable">
        <thead>
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Auctioner</th>
            <th>Start Price</th>
            <th>Strat Date</th>
            <th>End Date</th>
            <th>Top Bidder</th>
            <th>Winner</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @auctions.each_with_index do |auction, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td><%= auction.auction_item.name %></td>
              <td>
                <%= auction.auction_item.user.personal_information.first_name+" "+auction.auction_item.user.personal_information.last_name %>
              </td>
              <td><%= auction.start_price %></td>
              <td><%= auction.start_date %></td>
              <td><%= auction.end_date %></td>
              <td><%= auction.top_bid %></td>
              <td><%= auction.winner %></td>
              <td>
                <%= (auction.auction_item.is_sold) ? "Sold" : ((auction.auction_item.is_approve) ? "Approved" : "New") %>
              </td>
              <td>
                <%= link_to raw('<i class="fa fa-search-plus"></i>'),
                              auction,
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-primary',
                              :title => 'Show' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
    });
  </script>
<% end %>