<p id="notice"><%= notice %></p>

<p>
  <strong>Auction item:</strong>
  <%= @auction.auction_item_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @auction.user_id %>
</p>

<p>
  <strong>Start price:</strong>
  <%= @auction.start_price %>
</p>

<p>
  <strong>Auction status:</strong>
  <%= @auction.auction_status %>
</p>
<%= link_to 'Edit', edit_be_auction_path(@auction) %> |
<%= link_to 'Back', be_auctions_path %>
