<%= form_for ["be", auction_item], local: true, :class=>"form-horizontal" do |form| %>
<div class="card-body ">
  <div class="col-md-10 col-xs-12 offset-md-1">
    <% if notice %>
      <div id="error_explanation" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><%= pluralize(notice.count, "error") %> prohibited this doctor from being saved:</strong>
        <ul>
          <% notice.each do |key, value| %>
            <li><%= key+" "+value[0].to_s %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row <%= notice ? ("has-error" if notice['name']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :name %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :name, :class=>"form-control", :placeholder=>:name %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['price']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :price %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :price, :class=>"form-control", :placeholder=>:price %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['description']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :description %>
        </label>
        <div class="col-md-10">
            <%= form.text_area :description, :class=>"form-control summernote", :placeholder=>:description %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['min_description']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :min_description %>
        </label>
        <div class="col-md-10">
            <%= form.text_area :min_description, :class=>"form-control summernote", :placeholder=>:min_description %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['plus_description']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :plus_description %>
        </label>
        <div class="col-md-10">
            <%= form.text_area :plus_description, :class=>"form-control summernote", :placeholder=>:plus_description %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['condition']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :condition %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :condition, :class=>"form-control", :placeholder=>:condition %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['weight']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :weight %> (g)
        </label>
        <div class="col-md-10">
            <%= form.text_field :weight, :class=>"form-control", :placeholder=>:weight %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['volume']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :volume %> (m<sup>2</sup>)
        </label>
        <div class="col-md-10">
            <%= form.text_field :volume, :class=>"form-control", :placeholder=>:volume %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['production_date']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :production_date %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :production_date, :class=>"form-control", :placeholder=>:production_date %>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['tag']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label :tag %>
        </label>
        <div class="col-md-10">
            <%= form.text_field :tag, :class=>"form-control", :placeholder=>:tag %>
        </div>
    </div>

    <div class="form-group row <%= notice ? ("has-error" if notice['brand_type_id']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label "Auctioner" %>
        </label>
        <div class="col-md-10">
            <%= form.select :user_id, options_from_collection_for_select(@personal_informations, :user_id, :first_name), {}, {:class => 'form-control'}%>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['category_id']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label "Category" %>
        </label>
        <div class="col-md-10">
            <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name, auction_item.category_id), {}, {:class => 'form-control'}%>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['brand_id']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label "Brand" %>
        </label>
        <div class="col-md-10">
            <%= form.select :brand_id, options_from_collection_for_select(@brands, :id, :name, auction_item.brand_id), {}, {:class => 'form-control'}%>
        </div>
    </div>
    <div class="form-group row <%= notice ? ("has-error" if notice['brand_type_id']) : '' %>">
        <label class="col-md-2 col-form-label float-right">
          <%= form.label "Type" %>
        </label>
        <div class="col-md-10">
            <%= form.select :brand_type_id, options_from_collection_for_select(@brand_types, :id, :name, auction_item.brand_type_id), {}, {:class => 'form-control'}%>
        </div>
    </div>

  </div>
</div>
<div class="card-footer text-center">
  <%= link_to be_auction_items_path, :class=>"btn btn-danger" do %>
            <i class="fa fa-repeat"></i> Back
          <% end %>
          <button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
</div>
<% end %>