<%= render "partial/notification" %>
<div class="animated fadeIn">
  <div class="card"_path(auction_item)>
    <div class="card-header">
      <i class="fa fa-edit"></i> Auction Items Management
      <div class="card-actions">
        <%= link_to raw('<i class="fa fa-plus"></i>'),
                new_be_auction_item_path,
                data: {toggle: 'tooltip'},
                :class => 'btn btn-success pull-right btn-sm',
                :title => 'Buat User Baru' %>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered datatable">
        <thead>
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Auctioner</th>
            <th>Status</th>
            <th>Main Picture</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @auction_items.each_with_index do |auction_item, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td><%= auction_item.name %></td>
              <td><%= auction_item.price %></td>
              <td>
                <%= auction_item.user.personal_information.first_name+" "+auction_item.user.personal_information.last_name %>
              </td>
              <td><%= (auction_item.is_sold) ? "Sold" : ((auction_item.is_approve) ? "Approved" : "New") %></td>
              <td>-</td>
              <td>
                <%= link_to raw('<i class="fa fa-image"></i>'),
                               be_auction_item_pictures_path(auction_item),
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-primary',
                              :title => 'Picture Gallery' %>
                <%= link_to raw('<i class="fa fa-search-plus"></i>'),
                              be_auction_item_path(auction_item),
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-success',
                              :title => 'Show' %>
                <%= link_to raw('<i class="fa fa-edit"></i>'),
                               edit_be_auction_item_path(auction_item),
                              data: {toggle: 'tooltip'},
                              :class => 'btn btn-info',
                              :title => 'Edit' %>
                <%= link_to raw('<i class="fa fa-trash-o"></i>'),
                              be_auction_item_path(auction_item),
                              method: :delete,
                              data: {confirm: 'Are you sure?', toggle: 'tooltip' },
                              :class => 'btn btn-danger',
                              :title => 'Delete' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
    });
  </script>
<% end %>