<div class="row">
	<div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <strong>New Auction Item</strong>
        Form
      </div>
      	<%= render 'form', auction_item: @auction_item %>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $("#date").mask("9999-99-99");
  </script>
<% end %>