<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i> Picture Galery
      <div class="card-actions">
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <table class="table table-striped table-bordered datatable">
            <thead>
              <tr>
                <th>Category Type</th>
                <th>Tags</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @pictures.each do |picture| %>
                <tr>
                  <td><%= picture.file_type %></td>
                  <td><%= image_tag picture.name.url(:thumb) %></td>
                  <td>
                    <%= link_to raw('<i class="fa fa-trash-o"></i>'),
                        be_auction_item_pictures_path(picture.auction_item_id)+"/"+picture.id.to_s,
                        method: :delete,
                        data: {confirm: 'Are you sure?', toggle: 'tooltip' },
                        :class => 'btn btn-danger',
                        :title => 'Delete' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-4 col-xs-12">
          <% if flash[:notice].present? %>
            <% flash[:notice].each do |key, value| %>
              <div class="alert alert-<%= (key=='name') ? 'danger' : key %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Image <%= (key=='name') ? value[0] : value  %>!
              </div>
            <% end %>
          <% end %>
          <%= form_with(model: @attachment, url: be_auction_item_pictures_path, local: true, html: { multipart: true }) do |f| %>
            <div class="form-group">
              <label for="tag">
                <strong><%= f.label 'Image Type' %> : </strong>
              </label>
              <%= f.select :file_type, options_for_select([['Front Side', 'front-side'], ['Back Side', 'back-side'], ['Top Side', 'top-side'], ['Bottom Side', 'bottom-side'], ['Righ Side', 'right-side'], ['Left Side', 'left-side'], ['Other', 'other']]), {}, {:class => 'form-control'}%>
            </div>
            <div class="form-group">
              <label for="name">
                <strong><%= f.label 'Image' %> : </strong>
              </label>
              <%= f.file_field :name %>
            </div>
            <div class="form-group">
              <%= f.submit({:class => 'btn btn-primary'}) %>
              <%= f.button("Reset",{:class => 'btn btn-warning', :type => 'reset'}) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
    $(function(){
      $('.datatable').DataTable();
      $('.datatable').attr('style', 'border-collapse: collapse !important');
    });
  </script>
<% end %>