<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @auction_item.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @auction_item.category_id %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @auction_item.name %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @auction_item.price %>
</p>

<p>
  <strong>Is approve:</strong>
  <%= @auction_item.is_approve %>
</p>

<%= link_to 'Edit', edit_be_auction_item_path(@auction_item) %> |
<%= link_to 'Back', be_auction_items_path %>
